/*220217*/
#contents {
  width: 100% !important;
}

.top_sec .w1140 {
  max-width: 1140px;
  margin: 0 auto;
}

.top_sec section {
  padding: 100px 20px;
}

@media screen and (max-width: 767px) {
  .top_sec section {
    padding: 50px 15px;
  }
}

.top_sec h2 {
  color: #2faabb;
  font-size: 35px;
  line-height: 1.6;
  font-weight: bold;
  margin: 0 0 20px;
}

@media screen and (max-width: 999px) {
  .top_sec h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  .top_sec h2 {
    font-size: 26px;
  }
}

.top_sec p, .top_sec li, .top_sec th, .top_sec td {
  margin: 0;
  font-size: 15px;
  line-height: 2.0;
  color: #333;
}

@media screen and (max-width: 767px) {
  .top_sec p, .top_sec li, .top_sec th, .top_sec td {
    font-size: 14px;
  }
}

.top_sec img {
  max-width: 100%;
}

.top_sec .col_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

@media screen and (max-width: 767px) {
  .top_sec .col_wrap {
    -ms-flex-flow: column wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
  }
}

.top_sec .bl_btn {
  display: block;
  text-align: center;
  font-size: 28px;
  letter-spacing: 0.2rem;
  font-weight: bold;
  color: #fff;
  background: #308ec6;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  -webkit-box-shadow: 4px 6px 0px #156798;
          box-shadow: 4px 6px 0px #156798;
  margin: 0 auto;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.top_sec .bl_btn:hover {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
  -webkit-box-shadow: 2px 2px 0px #156798;
          box-shadow: 2px 2px 0px #156798;
}

@media screen and (max-width: 999px) {
  .top_sec .bl_btn {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .bl_btn {
    width: 90%;
    font-size: 20px;
    padding: 30px 20px;
  }
}

.top_sec .rep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .top_sec .rep {
    -ms-flex-flow: column-reverse nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-flow: column-reverse nowrap;
  }
}

.top_sec .rep p {
  background: #f4f4f4;
  padding: 20px 30px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  border: solid 2px #2faabb;
  margin-left: 70px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .top_sec .rep p {
    margin-left: 0;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 16px;
  }
}

.top_sec .rep p:before, .top_sec .rep p:after {
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -2.5em;
  border-top: 16px solid transparent;
  border-right: 2.5em solid #2faabb;
  border-bottom: 16px solid transparent;
}

@media screen and (max-width: 767px) {
  .top_sec .rep p:before, .top_sec .rep p:after {
    bottom: -1.5em;
    top: auto;
    left: 50%;
    -webkit-transform: translateY(0%) translateX(-50%);
            transform: translateY(0%) translateX(-50%);
    border-bottom: none;
    border-top: 1.5em solid #2faabb;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}

.top_sec .rep p:after {
  left: calc( -14px - 1.5em);
  border-right: 2.5em solid #f4f4f4;
}

@media screen and (max-width: 767px) {
  .top_sec .rep p:after {
    left: 50%;
    bottom: calc( 4px - 1.5em);
    border-right: 10px solid transparent;
    border-top: solid 1.5em #f4f4f4;
  }
}

.top_sec .sec01 {
  background: #daeff2;
}

@media screen and (max-width: 999px) {
  .top_sec .sec01 .col_wrap {
    gap: 0px;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .sec01 .col_wrap {
    -ms-flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column nowrap;
    gap: 20px;
  }
}

.top_sec .sec01 .col_wrap div:first-child {
  width: 38%;
}

@media screen and (max-width: 999px) {
  .top_sec .sec01 .col_wrap div:first-child {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .sec01 .col_wrap div:first-child {
    width: 100%;
  }
}

.top_sec .sec01 .text_b {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .top_sec .sec01 .text_b {
    font-size: 16px;
  }
}

.top_sec .sec02 .col_wrap {
  margin-bottom: 60px;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .top_sec .sec02 .col_wrap {
    margin-bottom: 30px;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.top_sec .sec02 .col_wrap div:first-child {
  width: 60%;
}

@media screen and (max-width: 767px) {
  .top_sec .sec02 .col_wrap div:first-child {
    width: 100%;
  }
}

.top_sec .sec02 table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.top_sec .sec02 table th, .top_sec .sec02 table td {
  padding: 12px;
  border: solid 1px #c2c2c2;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .top_sec .sec02 table th, .top_sec .sec02 table td {
    padding: 10px 5px;
  }
}

.top_sec .sec02 table th {
  background: #2faabb;
  color: #fff;
  font-weight: bold;
}

.top_sec .sec02 table td:nth-of-type(2) {
  color: #2faabb;
}

.top_sec .sec03 {
  background: #f4f4f4;
}

.top_sec .sec03 .col_wrap {
  background: #fff;
  border-radius: 12px;
  padding: 40px 60px;
  -webkit-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
  gap: 50px;
}

@media screen and (max-width: 767px) {
  .top_sec .sec03 .col_wrap {
    padding: 30px;
    gap: 20px;
    margin-bottom: 30px;
  }
}

.top_sec .sec03 .col_wrap div:last-child {
  width: 70%;
}

@media screen and (max-width: 767px) {
  .top_sec .sec03 .col_wrap div:last-child {
    width: 100%;
  }
}

.top_sec .sec03 .col_wrap a {
  text-decoration: underline;
  color: #052edf;
}

.top_sec .sec03 .text_bl {
  font-size: 20px;
  color: #2faabb;
  font-weight: bold;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .top_sec .sec03 .text_bl {
    font-size: 18px;
  }
}

.top_sec .sec03 .bl_btn {
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .top_sec .sec03 .bl_btn {
    margin-bottom: 40px;
  }
}

.top_sec .sec03 table {
  border-collapse: collapse;
}

.top_sec .sec03 table th, .top_sec .sec03 table td {
  border: solid 1px #c2c2c2;
  padding: 14px 20px;
  vertical-align: middle;
  text-align: left;
  background: #e7f4f6;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .top_sec .sec03 table th, .top_sec .sec03 table td {
    display: block;
    width: 100%;
    font-size: 14px;
    border-bottom: none;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .sec03 table tr:last-of-type td {
    border-bottom: solid 1px #c2c2c2;
  }
}

.top_sec .sec03 table th {
  width: 30%;
}

@media screen and (max-width: 767px) {
  .top_sec .sec03 table th {
    width: 100%;
  }
}

.top_sec .sec03 table tr:nth-child(even) th, .top_sec .sec03 table tr:nth-child(even) td {
  background: #fff;
}

.top_sec .sec04 .text_b {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 6px;
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .text_b {
    font-size: 16px;
  }
}

.top_sec .sec04 .text_b span {
  font-size: 24px;
  color: #2faabb;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #fff836));
  background: linear-gradient(transparent 70%, #fff836 70%);
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .text_b span {
    font-size: 20px;
  }
}

.top_sec .sec04 img {
  width: 100%;
  margin-top: 30px;
}

.top_sec .sec05 {
  background: url("../img/top_bg01.jpg") no-repeat center center/cover;
  counter-reset: number 0;
}

.top_sec .sec05 .wh_list {
  background: #fff;
  border-radius: 12px;
  padding: 50px;
  -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 40px 0;
}

@media screen and (max-width: 767px) {
  .top_sec .sec05 .wh_list {
    padding: 25px;
  }
}

.top_sec .sec05 .wh_list .col_wrap {
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .top_sec .sec05 .wh_list .col_wrap {
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.top_sec .sec05 .wh_list .col_wrap div:first-child {
  width: 65%;
}

@media screen and (max-width: 767px) {
  .top_sec .sec05 .wh_list .col_wrap div:first-child {
    width: 100%;
  }
}

.top_sec .sec05 .wh_list h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  color: #2faabb;
  padding-left: 60px;
  margin-bottom: 20px;
  margin-top: -16px;
  position: relative;
}

@media screen and (max-width: 999px) {
  .top_sec .sec05 .wh_list h3 {
    margin-top: -6px;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .sec05 .wh_list h3 {
    font-size: 18px;
    padding-left: 40px;
    margin-top: 0;
  }
}

.top_sec .sec05 .wh_list h3:after {
  position: absolute;
  top: 5px;
  left: 0;
  counter-increment: number 1;
  content: counter(number);
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  color: #fff;
  background: #2faabb;
  border-radius: 40px;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .top_sec .sec05 .wh_list h3:after {
    font-size: 16px;
    line-height: 28px;
    width: 28px;
    height: 28px;
  }
}

.top_sec .sec05 .wh_list .rep {
  margin-top: 40px;
}

.top_sec .sec05 .wh_list span {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #fff836));
  background: linear-gradient(transparent 60%, #fff836 60%);
}

@media screen and (max-width: 767px) {
  .top_sec .sec05 .wh_list span {
    font-size: 18px;
  }
}

.top_sec .sec06 {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .top_sec .sec06 {
    text-align: left;
  }
}

.top_sec .sec06 img {
  margin: 20px auto;
}

.top_sec .sec06 .rep {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.top_sec .sec07 {
  background: #daeff2;
}

.top_sec .sec07 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  background: #fff;
  border-radius: 12px;
  padding: 50px;
  -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  counter-reset: number 0;
}

@media screen and (max-width: 767px) {
  .top_sec .sec07 ul {
    -ms-flex-flow: column wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
    padding: 25px;
  }
}

.top_sec .sec07 ul li {
  width: calc( (100% - 60px) / 3);
  position: relative;
}

@media screen and (max-width: 999px) {
  .top_sec .sec07 ul li {
    width: calc( (100% - 30px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .top_sec .sec07 ul li {
    width: 100%;
  }
}

.top_sec .sec07 ul li:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  border-left: 88px solid #2faabb;
  border-bottom: 88px solid transparent;
}

@media screen and (max-width: 767px) {
  .top_sec .sec07 ul li:before {
    border-left: 60px solid #2faabb;
    border-bottom: 60px solid transparent;
  }
}

.top_sec .sec07 ul li:after {
  position: absolute;
  top: 4px;
  left: 16px;
  counter-increment: number 1;
  content: counter(number);
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .top_sec .sec07 ul li:after {
    top: 2px;
    left: 12px;
    font-size: 18px;
  }
}

.top_sec .sec07 ul li p:first-child {
  text-align: center;
  padding: 40px 20px 10px;
}

@media screen and (max-width: 767px) {
  .top_sec .sec07 ul li p:first-child {
    padding: 20px 20px 10px;
  }
}

.top_sec .sec07 ul li h3 {
  font-size: 24px;
  color: #2faabb;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .top_sec .sec07 ul li h3 {
    font-size: 18px;
  }
}

.top_sec .sec08 {
  background: #f4f4f4;
}

.top_sec .sec08 p {
  margin-bottom: 40px;
}

.top_sec .sec08 .link_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 60px;
}

.top_sec .sec08 .link_wrap a {
  width: calc( (100% - 30px) / 2);
  text-align: center;
  padding: 80px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

@media screen and (max-width: 999px) {
  .top_sec .sec08 .link_wrap a {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .sec08 .link_wrap a {
    width: 100%;
    padding: 50px 10px;
    font-size: 16px;
  }
}

.top_sec .sec08 .link_wrap a span {
  font-size: 30px;
}

@media screen and (max-width: 999px) {
  .top_sec .sec08 .link_wrap a span {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .sec08 .link_wrap a span {
    font-size: 22px;
  }
}

.top_sec .sec08 .link_wrap a:after {
  content: '';
  border: 2px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  width: calc(100% - 70px);
  height: calc(100% - 70px);
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 767px) {
  .top_sec .sec08 .link_wrap a:after {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
  }
}

.top_sec .sec08 .link_wrap a:hover {
  color: #2faabb;
}

.top_sec .sec08 .link_wrap a:hover:after {
  width: 100%;
  height: 100%;
}

.top_sec .sec09 {
  padding-bottom: 40px;
}
/*# sourceMappingURL=style.css.map */