@charset "utf-8";

$blue : #308ec6;
$gray : #ccc;
$lightgray : #f4f4f4;

*{
    font-family: "ヒラギノ角ゴ Std","ヒラギノ角ゴ ProN W3", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
}

.w1140{
    max-width: 1140px;
    margin: 0 auto;
}

a.btn{
    display: block;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.02rem;
    font-weight: bold;
    color: #fff;
    background: $blue;
    padding: 15px 25px;
    border-radius: 100px;
    width: 100%;
    max-width: 800px;
    box-shadow: 3px 4px 0px darken($blue, 10%);
    margin: 0 auto;
    transition: all .1s;
    @include mq(xl){
        padding: 15px;
    }
    @include mq{
        padding: 20px 15px;
    }
    i{
        padding-right: 5px;
    }
    &:hover{
        transform: translate(2px,3px);
        box-shadow: 2px 2px 0px darken($blue, 10%);
    }
    &_tel{
        background: #fff;
        border: solid 3px $blue;
        color: $blue;
        box-shadow: 3px 4px 0px $blue;
        &:hover{
            box-shadow: 2px 2px 0px $blue;
        }
    }
    &_mail{
        background: #f68936;
        box-shadow: 3px 4px 0px darken(#f68936, 10%);
        &:hover{
            box-shadow: 2px 2px 0px darken(#f68936, 10%);
        }
    }
    &_line{
        background: #46ba45;
        box-shadow: 3px 4px 0px darken(#46ba45, 10%);
        &:hover{
            box-shadow: 2px 2px 0px darken(#46ba45, 10%);
        }
    }
}

//header
#header{
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 9999;
    background: #fff;
    @include mq(lg){
        position: fixed;
        top: 0;
        left: 0;
    }
}
.header{
    &_wrap{
        width: 100%;
        &_top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: solid 1px $gray;
            padding: 10px 40px;
            @include mq(xl){
                padding: 10px 20px;
            }
            @include mq(lg){
                border-bottom: solid 1px #f4f4f4;
            }
            @include mq{
                padding: 10px 10px;
            }
            .logo{
                a{
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 1.3;
                    @include mq(xl){
                        font-size: 26px;
                    }
                    @include mq(lg){
                        font-size: 23px;
                    }
                    span{
                        display: block;
                        font-size: 14px;
                        letter-spacing: 0.02rem;
                        @include mq(xl){
                            font-size: 12px;
                        }
                        @include mq(lg){
                            font-size: 11px;
                        }
                    }
                }
            }
            .contact{
                display: flex;
                align-items: center;
                @include mq(lg){
                    display: none;
                }
                >div{
                    padding-left: 15px;
                }
                .tel{
                    a{
                        font-size: 28px;
                        font-weight: bold;
                        @include mq(xl){
                            font-size: 24px;
                        }
                        div{
                            display: flex;
                            align-items: center;
                            color: $blue;
                        }
                        i{
                            font-size: 18px;
                            padding-right: 5px;
                        }
                        span{
                            display: block;
                            font-size: 14px;
                            letter-spacing: 0.02rem;
                            @include mq(xl){
                                font-size: 12px;
                            }
                        }
                        &:hover{
                            color: inherit;
                            opacity: 0.7;
                        }
                    }
                }
            }
            .hamburger{
                display: none;
                position: relative;
                width: 40px;
                height: 40px;
                cursor: pointer;
                @include mq(lg){
                    display: block;
                }
                #hamburger_btn{
                    i{
                        color: $blue;
                        font-size: 40px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        transition: all 0.2s;
                    }
                    .fa-bars{
                        opacity: 1;
                    }
                    .fa-xmark{
                        opacity: 0;
                    }
                }
            }
        }
        &_bottom{
            @include mq(lg){
                width: 100%;
                position: absolute;
                z-index: 9998;
                background: #fff;
                border-bottom: solid 1px $gray;
            }
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 1140px;
                margin: 0 auto;
                @include mq(lg){
                    flex-flow: column;
                    padding: 30px 0;
                }
                li{
                    width: 100%;
                    a{
                        width: 100%;
                        text-align: center;
                        display: block;
                        border-left: solid 1px $gray;
                        padding: 13px 10px;
                        font-size: 15px;
                        @include mq(lg){
                            border-left: none;
                        }
                        &:hover{
                            background: rgba($blue, 0.05);
                        }
                    }
                    &:last-of-type{
                        a{
                            border-right: solid 1px $gray;
                        }
                    }
                }
            }
        }
    }
    &.active{
        #hamburger_btn{
            .fa-bars{
                opacity: 0;
            }
            .fa-xmark{
                opacity: 1;
            }
        }
    }
}

//footer
footer{
    background: transparent;
    padding: 0;
    #footer-box{
        width: 100%;
    }
}

#footer{
    font-size: 16px;
    section{
        padding: 90px 20px;
        @include mq{
            padding: 50px 15px;
        }
    }
    h2{
        font-size: 30px;
        line-height: 1.6;
        font-weight: bold;
        margin: 0 0 20px;
        text-align: center;
        @include mq(lg){
            font-size: 26px;
        }
        @include mq{
            font-size: unquote('clamp(20px, 6.0vw, 24px)');
        }
    }
    p,li,th,td{
        margin: 0;
        font-size: 15px;
        line-height: 2.0;
        color: #333;
        @include mq{
            font-size: 14px;
        }
    }
    img{
        max-width: 100%;
    }
    .company{
        border-top: solid 1px #aaa;
        margin-top: 80px;
        @include mq{
            margin-top: 40px;
        }
        table{
            border-spacing: 0;
            border-collapse: collapse;
            width: 100%;
            max-width: 1000px;
            margin: 50px auto;
            @include mq{
                margin: 20px auto;
            }
            th,td{
                border: solid 1px $gray;
                padding: 15px 20px;
                line-height: 1.8;
                @include mq{
                    display: block;
                    padding: 8px 10px;
                    text-align: left;
                }
            }
            th{
                text-align: left;
                vertical-align: middle;
                color: #fff;
                background: $blue;
                width: 200px;
                @include mq{
                    width: 100%;
                    text-align: center;
                    padding: 12px 10px;
                    margin: -1px 0 -1px;
                }
            }
        }
        .gmap{
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
            iframe{
                width: 100%;
            }
        }
    }

    .cta{
        background: #eaf3f9;
        padding: 60px 20px;
        @include mq{
            padding: 40px 15px;
        }
        .btn_wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            @include mq(lg){
                flex-wrap: wrap;
                gap: 10px;
            }
            .tel{
                width: 46%;
                @include mq(lg){
                    width: 100%;
                }
                .btn{
                    border-radius: 10px;
                    @include mq{
                        border-radius: 7px;
                        padding: 10px 15px;
                    }
                    div{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 45px;
                        @include mq(xl){
                            font-size: 35px;
                        }
                        @include mq{
                            font-size: unquote('clamp(20px, 7.0vw, 30px)');
                        }
                    }
                    i{
                        font-size: 30px;
                        @include mq{
                            font-size: 20px;
                        }
                    }
                    span{
                        color: #333;
                        @include mq{
                            font-size: 14px;
                        }
                    }
                }
            }
            .mail,.line{
                width: 27%;
                @include mq(lg){
                    width: calc(50% - 5px);
                    max-width: 395px;
                }
                .btn{
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    text-align: left;
                    padding: 30px 25px;
                    @include mq(xl){
                        font-size: 18px;
                        padding: 25px 15px;
                    }
                    @include mq{
                        border-radius: 4px;
                        font-size: unquote('clamp(12px, 3.5vw, 16px)');
                        padding: 12px 10px;
                    }
                    i{
                        font-size: 50px;
                        padding-right: 20px;
                        @include mq{
                            font-size: 30px;
                            padding-right: 10px;
                        }
                    }
                }
            }
            .btn{
                @include mq{
                    line-height: 1.2;
                }
            }
        }
    }

    .footer_wrap{
        background: $blue;
        color: #fff;
        text-align: center;
        padding: 40px 20px 30px;
        @include mq{
            padding: 30px 15px 100px;
        }
        .name{
            color: #fff;
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 25px;
            @include mq{
                font-size: 24px;
                line-height: 1.8;
            }
            span{
                display: block;
                font-size: 14px;
                font-weight: normal;
                @include mq{
                    font-size: 12px;
                }
            }
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
            @include mq{
                margin-bottom: 30px;
            }
            li{
                line-height: 1.2;
                padding: 0 20px;
                @include mq{
                    padding: 0 15px;
                }
                &:not(:last-of-type){
                    border-right: solid 1px #fff;
                }
                a{
                    color: #fff;
                    font-size: 14px;
                    @include mq{
                        font-size: 12px;
                    }
                }
                i{
                    padding-left: 10px;
                }
            }
        }
        .copyright{
            font-size: 12px;
            @include mq{
                font-size: 10px;
            }
        }
    }
}

//fixed_btn
.fixed_btn{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    z-index: 9999;
    @include mq{
        display: flex;
    }
    a{
        display: block;
        width: 100%;
        text-align: center;
        background: #333;
        border-top: solid 1px #fff;
        color: #fff;
        font-size: unquote('clamp(10px, 3.2vw, 14px)');
        font-weight: bold;
        padding: 12px 3px;
        i{
            display: block;
            font-size: 20px;
            margin-bottom: 5px;
        }
        &.tel{
            background: #0c85cd;
        }
        &.mail{
            background: #f68936;
        }
        &.line{
            background: #46ba45;
        }
    }
}