@charset "utf-8";
#contents{
    width: 100%!important;
    padding-top: 0;
    margin-top: 0;
}

//TOP
.top_sec{
    section{
        padding: 90px 20px;
        @include mq{
            padding: 50px 15px;
        }
    }
    h2{
        font-size: 30px;
        line-height: 1.6;
        font-weight: bold;
        margin: 0 0 20px;
        text-align: center;
        span{
            color: $blue;
        }
        @include mq(lg){
            font-size: 26px;
        }
        @include mq{
            font-size: unquote('clamp(20px, 6.0vw, 24px)');
        }
    }
    p,li,th,td{
        margin: 0;
        font-size: 15px;
        line-height: 2.0;
        color: #333;
        @include mq{
            font-size: 14px;
        }
    }
    img{
        max-width: 100%;
    }
    .col_wrap{
        @include flexbox;
        @include flex-flow(row nowrap);
        @include flex-justyfy-content(center);
        @include flex-align-items(center);
        gap: 40px;
        @include mq{
            @include flex-flow(column wrap);
        }
    }

    .fv{
        background: url('../img/fv_bg.jpg') no-repeat center center / cover;
        padding: 60px 20px 100px;
        margin-bottom: 10px;
        position: relative;
        @include mq{
            background: url('../img/fv_bg_sp.jpg') no-repeat center center / cover;
            padding: 20px 5px 60px;
            margin-bottom: 40px;
        }
        .duedate{
            display: flex;
            align-items: center;
            background: #fff;
            border: solid 5px $blue;
            border-radius: 5px;
            width: 100%;
            max-width: 840px;
            position: absolute;
            top: calc(100% - 50px);
            left: 50%;
            transform: translateX(-50%);
            @include mq(lg){
                max-width: 90%;
            }
            @include mq{
                flex-flow: column;
                max-width: 90%;
                border: solid 3px $blue;
                top: calc(100% - 30px);
            }
            p{
                font-weight: bold;
                padding: 10px 25px;
                letter-spacing: 0.02rem;
                box-sizing: border-box;
                &:first-of-type{
                    font-size: 25px;
                    color: #fff;
                    background: $blue;
                    @include mq(lg){
                        font-size: 20px;
                    }
                    @include mq{
                        font-size: 18px;
                        width: 100%;
                        text-align: center;
                        padding: 0px 10px 3px;
                    }
                }
                &:last-of-type{
                    font-size: 20px;
                    @include mq(lg){
                        font-size: 16px;
                    }
                    @include mq{
                        font-size: unquote('clamp(12px, 3.8vw, 16px)'); 
                        padding: 8px 10px;
                    }
                }
            }
        }
    }

    .cta{
        padding: 80px 20px;
        @include mq{
            padding: 50px 15px;
        }
        .message{
            text-align: center;
            >img{
                vertical-align: top;
                margin: 0 auto;
                @include mq(lg){
                    width: 90%;
                }
                @include mq{
                    width: 95%;
                    max-width: 420px;
                }
            }
            .representative{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 40px;
                @include mq{
                    position: relative;
                    margin-bottom: 80px;
                }
                @include mq(sm){
                    margin-bottom: 20vw;
                }
                .img{
                    width: 33%;
                    padding-right: 50px;
                    @include mq{
                        width: 50%;
                        padding-right: 20px;
                    }
                }
                .text{
                    text-align: left;
                    @include mq{
                        width: 50%;
                    }
                    .soudan{
                        font-weight: bold;
                        font-size: 25px;
                        line-height: 1.5;
                        @include mq{
                            text-align: center;
                            position: absolute;
                            left: 0;
                            top: 100%;
                            width: 100%;
                            font-size: unquote('clamp(12px, 4.2vw, 18px)');
                        }
                        span{
                            color: $blue;
                            span{
                                font-size: 35px;
                                @include mq{
                                    font-size: unquote('clamp(16px, 5.5vw, 24px)');
                                }
                            }
                        }
                    }
                    .hukidashi{
                        font-weight: bold;
                        background: $blue;
                        color: #fff;
                        padding: 15px 25px;
                        border-radius: 30px;
                        font-size: 20px;
                        margin-left: 20px;
                        margin-bottom: 20px;
                        position: relative;
                        @include mq{
                            font-size: 16px;
                            padding: 10px 10px;
                            border-radius: 10px;
                            margin-left: 0;
                            line-height: 1.2;
                            text-align: center;
                        }
                        &:before{
                            content: '';
                            display: block;
                            width: 40px;
                            height: 20px;
                            background: url('../img/hukidashi.svg') no-repeat center right / contain;
                            position: absolute;
                            left: -30px;
                            top: 50%;
                            transform: translateY(-50%);
                            z-index: 0;
                            @include mq{
                                width: 20px;
                                left: -16px;
                                top: 70%;
                            }
                        }
                        span{
                            color: #fff;
                            font-size: 16px;
                            @include mq(lg){
                                display: block;
                            }
                            @include mq{
                                font-size: 12px;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
        .btn_wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            background: rgba($blue , 0.1);
            border-radius: 10px;
            padding: 30px;
            @include mq(lg){
                flex-wrap: wrap;
                padding: 15px;
                gap: 10px;
            }
            .tel{
                width: 46%;
                @include mq(lg){
                    width: 100%;
                }
                .btn{
                    border-radius: 10px;
                    @include mq(lg){
                        border-radius: 7px;
                        padding: 10px 15px;
                    }
                    div{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 45px;
                        @include mq(xl){
                            font-size: 35px;
                        }
                        @include mq{
                            font-size: unquote('clamp(20px, 7.0vw, 30px)');
                        }
                    }
                    i{
                        font-size: 30px;
                        @include mq{
                            font-size: 20px;
                        }
                    }
                    span{
                        color: #333;
                        @include mq{
                            font-size: 14px;
                        }
                    }
                }
            }
            .mail,.line{
                width: 27%;
                @include mq(lg){
                    width: calc(50% - 5px);
                    max-width: 395px;
                }
                .btn{
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    text-align: left;
                    padding: 30px 25px;
                    @include mq(xl){
                        font-size: 18px;
                        padding: 25px 15px;
                    }
                    @include mq{
                        border-radius: 4px;
                        font-size: unquote('clamp(12px, 3.5vw, 16px)');
                        padding: 12px 10px;
                    }
                    i{
                        font-size: 50px;
                        padding-right: 20px;
                        @include mq{
                            font-size: 30px;
                            padding-right: 10px;
                        }
                    }
                }
            }
            .btn{
                @include mq{
                    line-height: 1.2;
                }
            }
        }
    }

    .sec01{
        background: $blue;
        h2{
            color: #fff;
        }
        .case_list{
            margin-top: 40px;
            @include mq{
                margin-top: 20px;
            }
            .case{
                background: #fff;
                border-radius: 15px;
                padding: 50px;
                margin-bottom: 30px;
                box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
                @include mq{
                    padding: 15px;
                }
                .user{
                    position: relative;
                    .title{
                        display: flex;
                        align-items: center;
                        padding-right: 180px;
                        margin-bottom: 20px;
                        @include mq{
                            padding-right: 0;
                            margin-bottom: 10px;
                        }
                        .num{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-flow: column;
                            text-align: center;
                            font-weight: bold;
                            background: #ffcd00;
                            width: 100px;
                            height: 100px;
                            border-radius: 100px;
                            font-size: 15px;
                            line-height: 1.2;
                            letter-spacing: 0;
                            margin-right: 20px;
                            @include mq{
                                width: 60px;
                                height: 60px;
                                font-size: 12px;
                                line-height: 1.0;
                                margin-right: 10px;
                            }
                            span{
                                font-size: 35px;
                                @include mq{
                                    font-size: 25px;
                                }
                            }
                        }
                        h3{
                            width: calc(100% - 120px);
                            font-size: 25px;
                            font-weight: bold;
                            @include mq{
                                width: calc(100% - 65px);
                                font-size: 17px;
                            }
                        }
                    }
                    .detail{
                        margin-bottom: 30px;
                        @include mq{
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 15px;
                        }
                        dl{
                            display: flex;
                            align-items: center;
                            padding-right: 180px;
                            @include mq{
                                flex-wrap: wrap;
                                width: calc(100% - 120px);
                                padding-right: 0;
                            }
                            dt,dd{
                                font-size: 16px;
                                @include mq(lg){
                                    font-size: 14px;
                                }
                            }
                            dt{
                                color: $blue;
                                font-weight: bold;
                                border: solid 1px $blue;
                                border-radius: 5px;
                                padding: 2px 12px;
                                margin-right: 10px;
                                white-space: nowrap;
                                @include mq{
                                    width: fit-content;
                                    max-width: 80px;
                                    padding: 2px 6px;
                                    margin-right: 5px;
                                }
                            }
                            dd{
                                margin-right: 30px;
                                @include mq(lg){
                                    margin-right: 15px;
                                }
                                @include mq{
                                    width: calc(100% - 80px);
                                    margin-right: 0;
                                }
                                &:nth-of-type(1),
                                &:nth-of-type(2){
                                    white-space: nowrap;
                                }
                            }
                        }
                    }
                    .img{
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 150px;
                        @include mq{
                            position: relative;
                            width: 100px;
                        }
                    }
                }
                .text{
                    border-radius: 10px;
                    background: $lightgray;
                    margin-bottom: 20px;
                    @include mq{
                        margin-bottom: 15px;
                    }
                    h4{
                        font-size: 20px;
                        font-weight: bold;
                        text-align: center;
                        background: $blue;
                        color: #fff;
                        border-radius: 10px 10px 0 0;
                        padding: 10px;
                        @include mq{
                            font-size: 16px;
                            padding: 8px;
                        }
                    }
                    p{
                        padding: 20px 30px;
                        font-size: 16px;
                        @include mq{
                            padding: 10px;
                            font-size: 14px;
                            line-height: 1.8;
                        }
                    }
                }
                .subsidy{
                    display: flex;
                    align-items: center;
                    h4{
                        font-size: 20px;
                        background: #ffcd00;
                        border-radius: 5px;
                        padding: 10px 15px;
                        margin-right: 15px;
                        font-weight: bold;
                        @include mq{
                            font-size: 16px;
                            padding: 5px 8px;
                        }
                    }
                    p{
                        font-size: 20px;
                        font-weight: bold;
                        @include mq{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .sec02{
        background: $lightgray;
        h2{
            text-align: left;
            @include mq{
                text-align: center;
            }
        }
        p{
            font-size: 20px;
            @include mq(lg){
                font-size: 18px;
            }
            @include mq{
                font-size: 16px;
            }
        }
        .text{
            width: 56%;
            padding-right: 20px;
            @include mq{
                width: 100%;
                padding-right: 0;
            }
        }
        .img{
            width: 44%;
            @include mq{
                width: 100%;
            }
            img{
                border-radius: 10px;
                margin-left: -20px;
                box-shadow: 20px 20px 0px $blue;
                @include mq{
                    width: calc(100% - 15px);
                    box-shadow: 15px 15px 0px $blue;
                    margin-left: 0;
                }
            }
        }
    }

    .sec03{
        padding-bottom: 0;
        .js-scrollable{
            width: 100%;
            @include mq{
                max-width: 100%;
                overflow-x: scroll;
                margin-bottom: 40px;
            }
        }
        table{
            border-spacing: 0;
            border-collapse: collapse;
            width: 100%;
            margin-top: 40px;
            @include mq{
                margin-top: 10px;
            }
            th,td{
                border: solid 1px #ccc;
                padding: 10px 20px;
                vertical-align: middle;
                @include mq{
                    padding: 8px 10px;
                }
            }
            th{
                color: #fff;
                font-size: 18px;
                font-weight: bold;
                background: $blue;
                @include mq{
                    font-size: 15px;
                }
            }
            td{
                font-size: 16px;
                @include mq{
                    font-size: 14px;
                    line-height: 1.5;
                }
            }
            tr{
                &:nth-of-type(odd){
                    td{
                        background: #f7f7f7;
                    }
                }
            }
            &.tb01{
                margin-bottom: 60px;
                @include mq{
                    width: 700px;
                    margin-bottom: 20px;
                }
                td{
                    &:not(:first-of-type){
                        text-align: right;
                    }
                }
                th{
                    &:nth-of-type(1){
                        width: 32%;
                    }
                    &:nth-of-type(2),
                    &:nth-of-type(3),
                    &:nth-of-type(4){
                        width: 16%;
                    }
                    &:nth-of-type(5){
                        width: 20%;
                    }
                }
            }
            &.tb02{
                @include mq{
                    margin-bottom: 20px;
                }
                td{
                    &:last-of-type{
                        text-align: right;
                    }
                }
                th{
                    &:nth-of-type(1){
                        width: 25%;
                        @include mq{
                            width: 30%;
                        }
                    }
                    &:nth-of-type(2){
                        width: 55%;
                        @include mq{
                            width: 42%;
                        }
                    }
                    &:nth-of-type(3){
                        width: 20%;
                        @include mq{
                            width: 48%;
                        }
                    }
                }
            }
        }
    }

    .sec04{
        background: #eaf3f9;
        .reason_list{
            counter-reset: number 0;
            >div{
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
                @include mq{
                    flex-flow: column;
                    margin-bottom: 60px;
                }
                &:last-of-type{
                    @include mq{
                        margin-bottom: 0;
                    }
                }
                .img{
                    width: 42%;
                    position: relative;
                    padding-top: 50px;
                    @include mq{
                        width: 100%;
                        padding-top: 10px;
                    }
                    &:before{
                        counter-increment: number 1;
                        content: counter(number,decimal-leading-zero)'';
                        position: absolute;
                        left: 10px;
                        top: 0;
                        font-weight: bold;
                        color: $blue;
                        font-size: 100px;
                        line-height: 1;
                        @include mq{
                            font-size: 77px;
                            top: -30px;
                        }
                    }
                    img{
                        border-radius: 10px;
                    }
                }
                .text{
                    width: 53%;
                    @include mq{
                        width: 100%;
                    }
                    h3{
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 20px;
                        line-height: 1.8;
                        @include mq{
                            font-size: 16px;
                            margin: 5px 0 10px;
                        }
                        span{
                            display: inline;
                            background: linear-gradient(transparent 65%, #eac300 0%);
                        }
                    }
                    p{
                        font-size: 16px;
                        @include mq{
                            font-size: 14px;
                        }
                        span{
                            color: $blue;
                        }
                    }
                }
            }
        }
    }

    .sec05{
        background: $blue;
        h2{
            color: #fff;
        }
        .price{
            display: flex;
            justify-content: space-between;
            @include mq{
                flex-flow: column;
            }
            >div{
                width: 48%;
                box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
                background: #fff;
                border-radius: 10px;
                text-align: center;
                @include mq{
                    width: 100%;
                    max-width: 500px;
                    margin: 0 auto 10px;
                }
                .title{
                    background: #ffcd00;
                    font-size: 20px;
                    font-weight: bold;
                    border-radius: 10px 10px 0 0;
                    padding: 10px;
                    @include mq{
                        font-size: 16px;
                    }
                }
                p{
                    padding: 30px 20px;
                    font-weight: bold;
                    font-size: 30px;
                    @include mq(lg){
                        line-height: 1.2;
                    }
                    @include mq{
                        padding: 20px 10px;
                        font-size: 24px;
                    }
                    span{
                        font-size: 20px;
                        @include mq{
                            font-size: 16px;
                        }
                    }
                    br{
                        display: none;
                        @include mq(lg){
                            display: block;
                        }
                        @include mq(sm){
                            display: none;
                        }
                    }
                }
            }
        }
        .throughout{
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include mq{
                margin-top: 20px;
                flex-flow: column-reverse;
            }
            .img{
                width: 30%;
                padding-right: 40px;
                @include mq{
                    width: 70%;
                    padding-right: 0;
                    padding-top: 20px;
                }
            }
            p{
                font-size: 25px;
                font-weight: bold;
                color: #fff;
                line-height: 1.5;
                @include mq{
                    font-size: 18px;
                }
                span{
                    font-size: 35px;
                    color: #ffcd00;
                    @include mq{
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .sec06{
        background: $lightgray;
        .flow{
            counter-reset: number 0;
            margin-top: 50px;
            >div{
                display: flex;
                align-items: center;
                background: #fff;
                box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
                border-radius: 15px;
                padding: 25px 30px 25px 50px;
                margin-top: 30px;
                margin-left: 30px;
                position: relative;
                @include mq{
                    margin-top: 40px;
                    margin-left: 0;
                    border-radius: 10px;
                    padding: 15px 20px;
                }
                &:before{
                    counter-increment: number 1;
                    content: counter(number,decimal-leading-zero)'';
                    position: absolute;
                    left: -30px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-weight: bold;
                    background: $blue;
                    color: #fff;
                    font-size: 25px;
                    line-height: 1;
                    width: 60px;
                    height: 60px;
                    border-radius: 60px;
                    line-height: 60px;
                    text-align: center;
                    @include mq{
                        font-size: 20px;
                        width: 45px;
                        height: 45px;
                        line-height: 45px;
                        left: 20px;
                        top: -22px;
                        transform: none;
                    }
                }
            }
            .icon{
                width: 210px;
                height: 130px;
                padding-right: 30px;
                @include mq{
                    width: 100px;
                    padding-right: 20px;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .text{
                @include mq{
                    width: calc(100% - 100px);
                }
                h3{
                    color: $blue;
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 15px;
                    @include mq{
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                }
                p{
                    font-size: 16px;
                    @include mq{
                        font-size: 14px;
                        line-height: 1.7;
                    }
                }
            }
        }
    }

    .sec07{
        .faq{
            margin:60px 0 40px;
            @include mq{
                margin: 10px 0;
            }
            dl{
                border-radius: 10px;
                box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
                padding: 40px;
                margin-top: 30px;
                position: relative;
                @include mq{
                    padding: 15px;
                }
                &:before,
                &:after{
                    content: '';
                    width: 17px;
                    height: 3px;
                    background: #333;
                    position: absolute;
                    right: 40px;
                    top: 53px;
                    transition: all .3s;
                    @include mq{
                        right: 20px;
                        top: 30px;
                    }
                }
                &:after{
                    transform: rotate(90deg);
                }
                &.active{
                    &:after{
                        transform: rotate(0deg);
                    }
                }
                dt{
                    font-weight: bold;
                    font-size: 20px;
                    padding-left: 40px;
                    padding-right: 40px;
                    position: relative;
                    cursor: pointer;
                    @include mq{
                        font-size: 16px;
                    }
                    &:before{
                        content: 'Q.';
                        color: $blue;
                        position: absolute;
                        left: 0;
                        top: 0;
                        @include mq{
                            font-size: 20px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
                dd{
                    margin-top: 25px;
                    line-height: 1.8;
                    font-size: 16px;
                    @include mq{
                        font-size: 14px;
                    }
                    span{
                        color: $blue;
                    }
                    a{
                        color: $blue;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .sec08{
        padding-bottom: 20px;
    }

    .contact{
        background: #eaf3f9;
        .wpcf7{
            background: none;
            padding: 0!important;
            margin: 0!important;
            width: 100%;
        }
        form{
            table{
                width: 100%;
                max-width: 1000px;
                margin: 20px auto 30px;
                border-spacing: 0;
                border-collapse: collapse;
                @include mq{
                    margin: 0 auto 20px;
                }
                th,td{
                    border-bottom: solid 1px #aaa;
                    vertical-align: top;
                    @include mq{
                        display: block;
                    }
                }
                th{
                    text-align: left;
                    line-height: 1.5;
                    width: 160px;
                    padding: 30px 0;
                    @include mq{
                        width: 100%;
                        border-bottom: 0;
                        padding: 15px 0 0;
                    }
                    span{
                        display: block;
                        font-size: 12px;
                        color: $blue;
                        @include mq{
                            display: inline-block;
                            padding-right: 10px;
                        }
                    }
                }
                td{
                    padding: 30px 0 40px;
                    @include mq{
                        padding: 5px 0 30px;
                    }
                }
                input,textarea{
                    display: block;
                    border-radius: 5px;
                    padding: 18px 15px;
                    box-sizing:border-box;
                    @include mq{
                        padding: 13px;
                    }
                }
                input{
                    max-width: 500px;
                }
                textarea{
                    height: 200px;
                }
            }
            input[type="submit"]{
                display: block;
                text-align: center;
                font-size: 16px;
                letter-spacing: 0.02rem;
                font-weight: bold;
                color: #fff;
                background: $blue;
                padding: 22px 25px;
                border-radius: 7px;
                width: 100%;
                max-width: 330px;
                box-shadow: 3px 4px 0px darken($blue, 10%);
                border: none;
                margin: 0 auto;
                transition: all .1s;
                @include mq{
                    font-size: 14px;
                    max-width: 250px;
                    padding: 15px 10px;
                }
                &:hover{
                    transform: translate(2px,3px);
                    box-shadow: 2px 2px 0px darken($blue, 10%);
                }
            }
        }
    }
}