@charset "utf-8";
/*220217*/
#contents{
    width: 100%!important;
}


//事業再構築補助金・ものづくり申請代行サポートここから
.top_sec{
    .w1140{
        max-width: 1140px;
        margin: 0 auto;
    }
    section{
        padding: 100px 20px;
        @include mq{
            padding: 50px 15px;
        }
    }
    h2{
        color: #2faabb;
        font-size: 35px;
        line-height: 1.6;
        font-weight: bold;
        margin: 0 0 20px;
        @include mq(lg){
            font-size: 32px;
        }
        @include mq{
            font-size: 26px;
        }
    }
    p,li,th,td{
        margin: 0;
        font-size: 15px;
        line-height: 2.0;
        color: #333;
        @include mq{
            font-size: 14px;
        }
    }
    img{
        max-width: 100%;
    }
    .col_wrap{
        @include flexbox;
        @include flex-flow(row nowrap);
        @include flex-justyfy-content(center);
        @include flex-align-items(center);
        gap: 40px;
        @include mq{
            @include flex-flow(column wrap);
        }
    }
    .bl_btn{
        display: block;
        text-align: center;
        font-size: 28px;
        letter-spacing: 0.2rem;
        font-weight: bold;
        color: #fff;
        background: #308ec6;
        padding: 40px;
        border-radius: 10px;
        width: 100%;
        max-width: 800px;
        box-shadow: 4px 6px 0px #156798;
        margin: 0 auto;
        transition: all .1s;
        &:hover{
            transform: translate(2px,4px);
            box-shadow: 2px 2px 0px #156798;
        }
        @include mq(lg){
            width: 90%;
        }
        @include mq{
            width: 90%;
            font-size: 20px;
            padding: 30px 20px;
        }
    }
    .rep{
        @include flexbox;
        @include flex-flow(row nowrap);
        @include flex-justyfy-content(center);
        @include flex-align-items(center);
        text-align: left;
        @include mq{
            @include flex-flow(column-reverse nowrap);
        }
        p{
            background: #f4f4f4;
            padding: 20px 30px;
            border-radius: 8px;
            font-size: 20px;
            font-weight: bold;
            border: solid 2px #2faabb;
            margin-left: 70px;
            position: relative;
            @include mq{
                margin-left: 0;
                margin-bottom: 30px;
                padding: 15px;
                font-size: 16px;
            }
            &:before,&:after {
                position: absolute;
                content: '';
                top: 50%;
                transform: translateY(-50%);
                left: -2.5em;
                border-top: 16px solid transparent;
                border-right: 2.5em solid #2faabb;
                border-bottom: 16px solid transparent;
                @include mq{
                    bottom: -1.5em;
                    top: auto;
                    left: 50%;
                    transform: translateY(0%) translateX(-50%);
                    border-bottom: none;
                    border-top: 1.5em solid #2faabb;
                    border-right: 10px solid transparent;
                    border-left: 10px solid transparent;
                }
            }
            &:after	{
                left: calc( -14px - 1.5em );
                border-right: 2.5em solid #f4f4f4;
                @include mq{
                    left: 50%;
                    bottom: calc( 4px - 1.5em );
                    border-right: 10px solid transparent;
                    border-top: solid 1.5em #f4f4f4;
                }
            }
        }
    }

    .sec01{
        background: #daeff2;
        .col_wrap{
            @include mq(lg){
                gap: 0px;
            }
            @include mq{
                @include flex-flow(column nowrap);
                gap: 20px;
            }
            div:first-child{
                width: 38%;
                @include mq(lg){
                    width: 80%;
                }
                @include mq{
                    width: 100%;
                }
            }
        }
        .text_b{
            font-size: 20px;
            font-weight: bold;
            margin-top: 20px;
            @include mq{
                font-size: 16px;
            }
        }
    }
    .sec02{
        .col_wrap{
            margin-bottom: 60px;
            @include flex-align-items(flex-start);
            @include mq{
                margin-bottom: 30px;
                @include flex-align-items(center);
            }
            div:first-child{
                width: 60%;
                @include mq{
                    width: 100%;
                }
            }
        }
        table{
            width: 100%;
            margin: 0 auto;
            border-collapse:collapse;
            th,td{
                padding: 12px;
                border: solid 1px #c2c2c2;
                text-align: center;
                @include mq{
                    padding: 10px 5px;
                }
            }
            th{
                background: #2faabb;
                color: #fff;
                font-weight: bold;
            }
            td:nth-of-type(2){
                color: #2faabb;
            }
        }
    }
    .sec03{
        background: #f4f4f4;
        .col_wrap{
            background: #fff;
            border-radius: 12px;
            padding: 40px 60px;
            box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.15);
            margin-bottom: 40px;
            gap: 50px;
            @include mq{
                padding: 30px;
                gap: 20px;
                margin-bottom: 30px;
            }
            div:last-child{
                width: 70%;
                @include mq{
                    width: 100%;
                }
            }
            a{
                text-decoration: underline;
                color: #052edf;
            }
        }
        .text_bl{
            font-size: 20px;
            color: #2faabb;
            font-weight: bold;
            line-height: 1.5;
            @include mq{
                font-size: 18px;
            }
        }
        .bl_btn{
            margin-bottom: 80px;
            @include mq{
                margin-bottom: 40px;
            }
        }
        table{
            border-collapse:collapse;
            th,td{
                border: solid 1px #c2c2c2;
                padding: 14px 20px;
                vertical-align: middle;
                text-align: left;
                background: #e7f4f6;
                font-size: 16px;
                @include mq{
                    display: block;
                    width: 100%;
                    font-size: 14px;
                    border-bottom: none;
                }
            }
            tr:last-of-type{
                td{
                    @include mq{
                        border-bottom: solid 1px #c2c2c2;
                    }
                }
            }
            th{
                width: 30%;
                @include mq{
                    width: 100%;
                }
            }
            tr:nth-child(even){
                th,td{
                    background: #fff;
                }
            }
        }
    }
    .sec04{
        .text_b{
            font-size: 20px;
            font-weight: bold;
            line-height: 1.5;
            margin-bottom: 6px;
            @include mq{
                font-size: 16px;
            }
            span{
                font-size: 24px;
                color: #2faabb;
                background:linear-gradient(transparent 70%, #fff836 70%);
                @include mq{
                    font-size: 20px;
                }
            }
        }
        img{
            width: 100%;
            margin-top: 30px;
        }
    }
    .sec05{
        background: url('../img/top_bg01.jpg') no-repeat center center / cover;
        counter-reset: number 0;
        .wh_list{
            background: #fff;
            border-radius: 12px;
            padding: 50px;
            box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
            margin: 40px 0;
            @include mq{
                padding: 25px;
            }
            .col_wrap{
                @include flex-align-items(flex-start);
                @include mq{
                    @include flex-align-items(center);
                }
                div:first-child{
                    width: 65%;
                    @include mq{
                        width: 100%;
                    }
                }
            }
            h3{
                font-size: 24px;
                font-weight: bold;
                line-height: 1.5;
                color: #2faabb;
                padding-left: 60px;
                margin-bottom: 20px;
                margin-top: -16px;
                position: relative;
                @include mq(lg){
                    margin-top: -6px;
                }
                @include mq{
                    font-size: 18px;
                    padding-left: 40px;
                    margin-top: 0;
                }
                &:after{
                    position: absolute;
                    top: 5px;
                    left: 0;
                    counter-increment: number 1;
                    content: counter(number);
                    font-size: 20px;
                    line-height: 40px;
                    font-weight: bold;
                    color: #fff;
                    background: #2faabb;
                    border-radius: 40px;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    @include mq{
                        font-size: 16px;
                        line-height: 28px;
                        width: 28px;
                        height: 28px;
                    }
                }
            }
            .rep{
                margin-top: 40px;
            }
            span{
                font-size: 20px;
                font-weight: bold;
                line-height: 1.2;
                background:linear-gradient(transparent 60%, #fff836 60%);
                @include mq{
                    font-size: 18px;
                }
            }
        }
    }
    .sec06{
        text-align: center;
        @include mq{
            text-align: left;
        }
        img{
            margin: 20px auto;
        }
        .rep{
            width: fit-content;
            margin: 0 auto;
        }
    }
    .sec07{
        background: #daeff2;
        ul{
            @include flexbox;
            @include flex-flow(row wrap);
            @include flex-justyfy-content(center);
            @include flex-align-items(flex-start);
            gap: 30px;
            background: #fff;
            border-radius: 12px;
            padding: 50px;
            box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
            counter-reset: number 0;
            @include mq{
                @include flex-flow(column wrap);
                padding: 25px;
            }
            li{
                width: calc( (100% - 60px) / 3 );
                position: relative;
                @include mq(lg){
                    width: calc( (100% - 30px) / 2 );
                }
                @include mq{
                    width: 100%;
                }
                &:before{
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    border-left: 88px solid #2faabb;
                    border-bottom: 88px solid transparent;
                    @include mq{
                        border-left: 60px solid #2faabb;
                        border-bottom: 60px solid transparent;
                    }
                }
                &:after{
                    position: absolute;
                    top: 4px;
                    left: 16px;
                    counter-increment: number 1;
                    content: counter(number);
                    font-size: 24px;
                    font-weight: bold;
                    color: #fff;
                    @include mq{
                        top: 2px;
                        left: 12px;
                        font-size: 18px;
                    }
                }

                p:first-child{
                    text-align: center;
                    padding: 40px 20px 10px;
                    @include mq{
                        padding: 20px 20px 10px;
                    }
                }
                h3{
                    font-size: 24px;
                    color: #2faabb;
                    font-weight: bold;
                    @include mq{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .sec08{
        background: #f4f4f4;
        p{
            margin-bottom: 40px;
        }
        .link_wrap{
            @include flexbox;
            @include flex-flow(row wrap);
            @include flex-justyfy-content(center);
            @include flex-align-items(center);
            gap: 30px;
            margin-bottom: 60px;
            a{
                width: calc( (100% - 30px) / 2 );
                text-align: center;
                padding: 80px 20px;
                color: #fff;
                font-weight: bold;
                font-size: 24px;
                line-height: 40px;
                background-size: cover;
                background-position: center center;
                position: relative;
                @include mq(lg){
                    font-size: 20px;
                }
                @include mq{
                    width: 100%;
                    padding: 50px 10px;
                    font-size: 16px;
                }
                span{
                    font-size: 30px;
                    @include mq(lg){
                        font-size: 24px;
                    }
                    @include mq{
                        font-size: 22px;
                    }
                }
                &:after{
                    content: '';
                    border: 2px solid rgba(255, 255, 255, .5);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    width: calc(100% - 70px);
                    height: calc(100% - 70px);
                    transition: all .3s;
                    @include mq{
                        width: calc(100% - 40px);
                        height: calc(100% - 40px);
                    }
                }
                &:hover{
                    color: #2faabb;
                    &:after{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .sec09{
        padding-bottom: 40px;
    }
}