@charset "UTF-8";
/*only*/
.pc_only {
  display: block;
}
@media screen and (max-width: 767px) {
  .pc_only {
    display: none;
  }
}

.sp_only {
  display: none;
}
@media screen and (max-width: 767px) {
  .sp_only {
    display: block;
  }
}

.pc_smonly {
  display: block;
}
@media screen and (max-width: 479px) {
  .pc_smonly {
    display: none;
  }
}

.sp_smonly {
  display: none;
}
@media screen and (max-width: 479px) {
  .sp_smonly {
    display: block;
  }
}

.pc_lgonly {
  display: block;
}
@media screen and (max-width: 999px) {
  .pc_lgonly {
    display: none;
  }
}

.sp_lgonly {
  display: none;
}
@media screen and (max-width: 999px) {
  .sp_lgonly {
    display: block;
  }
}

.pc_xlonly {
  display: block;
}
@media screen and (max-width: 1199px) {
  .pc_xlonly {
    display: none;
  }
}

.sp_xlonly {
  display: none;
}
@media screen and (max-width: 1199px) {
  .sp_xlonly {
    display: block;
  }
}

* {
  font-family: "ヒラギノ角ゴ Std", "ヒラギノ角ゴ ProN W3", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
}

.w1140 {
  max-width: 1140px;
  margin: 0 auto;
}

a.btn {
  display: block;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.02rem;
  font-weight: bold;
  color: #fff;
  background: #308ec6;
  padding: 15px 25px;
  border-radius: 100px;
  width: 100%;
  max-width: 800px;
  box-shadow: 3px 4px 0px #26719d;
  margin: 0 auto;
  transition: all 0.1s;
}
@media screen and (max-width: 1199px) {
  a.btn {
    padding: 15px;
  }
}
@media screen and (max-width: 767px) {
  a.btn {
    padding: 20px 15px;
  }
}
a.btn i {
  padding-right: 5px;
}
a.btn:hover {
  transform: translate(2px, 3px);
  box-shadow: 2px 2px 0px #26719d;
}
a.btn_tel {
  background: #fff;
  border: solid 3px #308ec6;
  color: #308ec6;
  box-shadow: 3px 4px 0px #308ec6;
}
a.btn_tel:hover {
  box-shadow: 2px 2px 0px #308ec6;
}
a.btn_mail {
  background: #f68936;
  box-shadow: 3px 4px 0px #ee6d0b;
}
a.btn_mail:hover {
  box-shadow: 2px 2px 0px #ee6d0b;
}
a.btn_line {
  background: #46ba45;
  box-shadow: 3px 4px 0px #389537;
}
a.btn_line:hover {
  box-shadow: 2px 2px 0px #389537;
}

#header {
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 9999;
  background: #fff;
}
@media screen and (max-width: 999px) {
  #header {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.header_wrap {
  width: 100%;
}
.header_wrap_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #ccc;
  padding: 10px 40px;
}
@media screen and (max-width: 1199px) {
  .header_wrap_top {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 999px) {
  .header_wrap_top {
    border-bottom: solid 1px #f4f4f4;
  }
}
@media screen and (max-width: 767px) {
  .header_wrap_top {
    padding: 10px 10px;
  }
}
.header_wrap_top .logo a {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.3;
}
@media screen and (max-width: 1199px) {
  .header_wrap_top .logo a {
    font-size: 26px;
  }
}
@media screen and (max-width: 999px) {
  .header_wrap_top .logo a {
    font-size: 23px;
  }
}
.header_wrap_top .logo a span {
  display: block;
  font-size: 14px;
  letter-spacing: 0.02rem;
}
@media screen and (max-width: 1199px) {
  .header_wrap_top .logo a span {
    font-size: 12px;
  }
}
@media screen and (max-width: 999px) {
  .header_wrap_top .logo a span {
    font-size: 11px;
  }
}
.header_wrap_top .contact {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 999px) {
  .header_wrap_top .contact {
    display: none;
  }
}
.header_wrap_top .contact > div {
  padding-left: 15px;
}
.header_wrap_top .contact .tel a {
  font-size: 28px;
  font-weight: bold;
}
@media screen and (max-width: 1199px) {
  .header_wrap_top .contact .tel a {
    font-size: 24px;
  }
}
.header_wrap_top .contact .tel a div {
  display: flex;
  align-items: center;
  color: #308ec6;
}
.header_wrap_top .contact .tel a i {
  font-size: 18px;
  padding-right: 5px;
}
.header_wrap_top .contact .tel a span {
  display: block;
  font-size: 14px;
  letter-spacing: 0.02rem;
}
@media screen and (max-width: 1199px) {
  .header_wrap_top .contact .tel a span {
    font-size: 12px;
  }
}
.header_wrap_top .contact .tel a:hover {
  color: inherit;
  opacity: 0.7;
}
.header_wrap_top .hamburger {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
@media screen and (max-width: 999px) {
  .header_wrap_top .hamburger {
    display: block;
  }
}
.header_wrap_top .hamburger #hamburger_btn i {
  color: #308ec6;
  font-size: 40px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
}
.header_wrap_top .hamburger #hamburger_btn .fa-bars {
  opacity: 1;
}
.header_wrap_top .hamburger #hamburger_btn .fa-xmark {
  opacity: 0;
}
@media screen and (max-width: 999px) {
  .header_wrap_bottom {
    width: 100%;
    position: absolute;
    z-index: 9998;
    background: #fff;
    border-bottom: solid 1px #ccc;
  }
}
.header_wrap_bottom ul {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
}
@media screen and (max-width: 999px) {
  .header_wrap_bottom ul {
    flex-flow: column;
    padding: 30px 0;
  }
}
.header_wrap_bottom ul li {
  width: 100%;
}
.header_wrap_bottom ul li a {
  width: 100%;
  text-align: center;
  display: block;
  border-left: solid 1px #ccc;
  padding: 13px 10px;
  font-size: 15px;
}
@media screen and (max-width: 999px) {
  .header_wrap_bottom ul li a {
    border-left: none;
  }
}
.header_wrap_bottom ul li a:hover {
  background: rgba(48, 142, 198, 0.05);
}
.header_wrap_bottom ul li:last-of-type a {
  border-right: solid 1px #ccc;
}
.header.active #hamburger_btn .fa-bars {
  opacity: 0;
}
.header.active #hamburger_btn .fa-xmark {
  opacity: 1;
}

footer {
  background: transparent;
  padding: 0;
}
footer #footer-box {
  width: 100%;
}

#footer {
  font-size: 16px;
}
#footer section {
  padding: 90px 20px;
}
@media screen and (max-width: 767px) {
  #footer section {
    padding: 50px 15px;
  }
}
#footer h2 {
  font-size: 30px;
  line-height: 1.6;
  font-weight: bold;
  margin: 0 0 20px;
  text-align: center;
}
@media screen and (max-width: 999px) {
  #footer h2 {
    font-size: 26px;
  }
}
@media screen and (max-width: 767px) {
  #footer h2 {
    font-size: clamp(20px, 6.0vw, 24px);
  }
}
#footer p, #footer li, #footer th, #footer td {
  margin: 0;
  font-size: 15px;
  line-height: 2;
  color: #333;
}
@media screen and (max-width: 767px) {
  #footer p, #footer li, #footer th, #footer td {
    font-size: 14px;
  }
}
#footer img {
  max-width: 100%;
}
#footer .company {
  border-top: solid 1px #aaa;
  margin-top: 80px;
}
@media screen and (max-width: 767px) {
  #footer .company {
    margin-top: 40px;
  }
}
#footer .company table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  margin: 50px auto;
}
@media screen and (max-width: 767px) {
  #footer .company table {
    margin: 20px auto;
  }
}
#footer .company table th, #footer .company table td {
  border: solid 1px #ccc;
  padding: 15px 20px;
  line-height: 1.8;
}
@media screen and (max-width: 767px) {
  #footer .company table th, #footer .company table td {
    display: block;
    padding: 8px 10px;
    text-align: left;
  }
}
#footer .company table th {
  text-align: left;
  vertical-align: middle;
  color: #fff;
  background: #308ec6;
  width: 200px;
}
@media screen and (max-width: 767px) {
  #footer .company table th {
    width: 100%;
    text-align: center;
    padding: 12px 10px;
    margin: -1px 0 -1px;
  }
}
#footer .company .gmap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
#footer .company .gmap iframe {
  width: 100%;
}
#footer .cta {
  background: #eaf3f9;
  padding: 60px 20px;
}
@media screen and (max-width: 767px) {
  #footer .cta {
    padding: 40px 15px;
  }
}
#footer .cta .btn_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 999px) {
  #footer .cta .btn_wrap {
    flex-wrap: wrap;
    gap: 10px;
  }
}
#footer .cta .btn_wrap .tel {
  width: 46%;
}
@media screen and (max-width: 999px) {
  #footer .cta .btn_wrap .tel {
    width: 100%;
  }
}
#footer .cta .btn_wrap .tel .btn {
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  #footer .cta .btn_wrap .tel .btn {
    border-radius: 7px;
    padding: 10px 15px;
  }
}
#footer .cta .btn_wrap .tel .btn div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
}
@media screen and (max-width: 1199px) {
  #footer .cta .btn_wrap .tel .btn div {
    font-size: 35px;
  }
}
@media screen and (max-width: 767px) {
  #footer .cta .btn_wrap .tel .btn div {
    font-size: clamp(20px, 7.0vw, 30px);
  }
}
#footer .cta .btn_wrap .tel .btn i {
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  #footer .cta .btn_wrap .tel .btn i {
    font-size: 20px;
  }
}
#footer .cta .btn_wrap .tel .btn span {
  color: #333;
}
@media screen and (max-width: 767px) {
  #footer .cta .btn_wrap .tel .btn span {
    font-size: 14px;
  }
}
#footer .cta .btn_wrap .mail, #footer .cta .btn_wrap .line {
  width: 27%;
}
@media screen and (max-width: 999px) {
  #footer .cta .btn_wrap .mail, #footer .cta .btn_wrap .line {
    width: calc(50% - 5px);
    max-width: 395px;
  }
}
#footer .cta .btn_wrap .mail .btn, #footer .cta .btn_wrap .line .btn {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: left;
  padding: 30px 25px;
}
@media screen and (max-width: 1199px) {
  #footer .cta .btn_wrap .mail .btn, #footer .cta .btn_wrap .line .btn {
    font-size: 18px;
    padding: 25px 15px;
  }
}
@media screen and (max-width: 767px) {
  #footer .cta .btn_wrap .mail .btn, #footer .cta .btn_wrap .line .btn {
    border-radius: 4px;
    font-size: clamp(12px, 3.5vw, 16px);
    padding: 12px 10px;
  }
}
#footer .cta .btn_wrap .mail .btn i, #footer .cta .btn_wrap .line .btn i {
  font-size: 50px;
  padding-right: 20px;
}
@media screen and (max-width: 767px) {
  #footer .cta .btn_wrap .mail .btn i, #footer .cta .btn_wrap .line .btn i {
    font-size: 30px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  #footer .cta .btn_wrap .btn {
    line-height: 1.2;
  }
}
#footer .footer_wrap {
  background: #308ec6;
  color: #fff;
  text-align: center;
  padding: 40px 20px 30px;
}
@media screen and (max-width: 767px) {
  #footer .footer_wrap {
    padding: 30px 15px 100px;
  }
}
#footer .footer_wrap .name {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
  #footer .footer_wrap .name {
    font-size: 24px;
    line-height: 1.8;
  }
}
#footer .footer_wrap .name span {
  display: block;
  font-size: 14px;
  font-weight: normal;
}
@media screen and (max-width: 767px) {
  #footer .footer_wrap .name span {
    font-size: 12px;
  }
}
#footer .footer_wrap ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  #footer .footer_wrap ul {
    margin-bottom: 30px;
  }
}
#footer .footer_wrap ul li {
  line-height: 1.2;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  #footer .footer_wrap ul li {
    padding: 0 15px;
  }
}
#footer .footer_wrap ul li:not(:last-of-type) {
  border-right: solid 1px #fff;
}
#footer .footer_wrap ul li a {
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  #footer .footer_wrap ul li a {
    font-size: 12px;
  }
}
#footer .footer_wrap ul li i {
  padding-left: 10px;
}
#footer .footer_wrap .copyright {
  font-size: 12px;
}
@media screen and (max-width: 767px) {
  #footer .footer_wrap .copyright {
    font-size: 10px;
  }
}

.fixed_btn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
  z-index: 9999;
}
@media screen and (max-width: 767px) {
  .fixed_btn {
    display: flex;
  }
}
.fixed_btn a {
  display: block;
  width: 100%;
  text-align: center;
  background: #333;
  border-top: solid 1px #fff;
  color: #fff;
  font-size: clamp(10px, 3.2vw, 14px);
  font-weight: bold;
  padding: 12px 3px;
}
.fixed_btn a i {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}
.fixed_btn a.tel {
  background: #0c85cd;
}
.fixed_btn a.mail {
  background: #f68936;
}
.fixed_btn a.line {
  background: #46ba45;
}

#contents {
  width: 100% !important;
  padding-top: 0;
  margin-top: 0;
}

.top_sec section {
  padding: 90px 20px;
}
@media screen and (max-width: 767px) {
  .top_sec section {
    padding: 50px 15px;
  }
}
.top_sec h2 {
  font-size: 30px;
  line-height: 1.6;
  font-weight: bold;
  margin: 0 0 20px;
  text-align: center;
}
.top_sec h2 span {
  color: #308ec6;
}
@media screen and (max-width: 999px) {
  .top_sec h2 {
    font-size: 26px;
  }
}
@media screen and (max-width: 767px) {
  .top_sec h2 {
    font-size: clamp(20px, 6.0vw, 24px);
  }
}
.top_sec p, .top_sec li, .top_sec th, .top_sec td {
  margin: 0;
  font-size: 15px;
  line-height: 2;
  color: #333;
}
@media screen and (max-width: 767px) {
  .top_sec p, .top_sec li, .top_sec th, .top_sec td {
    font-size: 14px;
  }
}
.top_sec img {
  max-width: 100%;
}
.top_sec .col_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .top_sec .col_wrap {
    -ms-flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
  }
}
.top_sec .fv {
  background: url("../img/fv_bg.jpg") no-repeat center center/cover;
  padding: 60px 20px 100px;
  margin-bottom: 10px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .top_sec .fv {
    background: url("../img/fv_bg_sp.jpg") no-repeat center center/cover;
    padding: 20px 5px 60px;
    margin-bottom: 40px;
  }
}
.top_sec .fv .duedate {
  display: flex;
  align-items: center;
  background: #fff;
  border: solid 5px #308ec6;
  border-radius: 5px;
  width: 100%;
  max-width: 840px;
  position: absolute;
  top: calc(100% - 50px);
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 999px) {
  .top_sec .fv .duedate {
    max-width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .top_sec .fv .duedate {
    flex-flow: column;
    max-width: 90%;
    border: solid 3px #308ec6;
    top: calc(100% - 30px);
  }
}
.top_sec .fv .duedate p {
  font-weight: bold;
  padding: 10px 25px;
  letter-spacing: 0.02rem;
  box-sizing: border-box;
}
.top_sec .fv .duedate p:first-of-type {
  font-size: 25px;
  color: #fff;
  background: #308ec6;
}
@media screen and (max-width: 999px) {
  .top_sec .fv .duedate p:first-of-type {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .top_sec .fv .duedate p:first-of-type {
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding: 0px 10px 3px;
  }
}
.top_sec .fv .duedate p:last-of-type {
  font-size: 20px;
}
@media screen and (max-width: 999px) {
  .top_sec .fv .duedate p:last-of-type {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .top_sec .fv .duedate p:last-of-type {
    font-size: clamp(12px, 3.8vw, 16px);
    padding: 8px 10px;
  }
}
.top_sec .cta {
  padding: 80px 20px;
}
@media screen and (max-width: 767px) {
  .top_sec .cta {
    padding: 50px 15px;
  }
}
.top_sec .cta .message {
  text-align: center;
}
.top_sec .cta .message > img {
  vertical-align: top;
  margin: 0 auto;
}
@media screen and (max-width: 999px) {
  .top_sec .cta .message > img {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .top_sec .cta .message > img {
    width: 95%;
    max-width: 420px;
  }
}
.top_sec .cta .message .representative {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .top_sec .cta .message .representative {
    position: relative;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 479px) {
  .top_sec .cta .message .representative {
    margin-bottom: 20vw;
  }
}
.top_sec .cta .message .representative .img {
  width: 33%;
  padding-right: 50px;
}
@media screen and (max-width: 767px) {
  .top_sec .cta .message .representative .img {
    width: 50%;
    padding-right: 20px;
  }
}
.top_sec .cta .message .representative .text {
  text-align: left;
}
@media screen and (max-width: 767px) {
  .top_sec .cta .message .representative .text {
    width: 50%;
  }
}
.top_sec .cta .message .representative .text .soudan {
  font-weight: bold;
  font-size: 25px;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .top_sec .cta .message .representative .text .soudan {
    text-align: center;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    font-size: clamp(12px, 4.2vw, 18px);
  }
}
.top_sec .cta .message .representative .text .soudan span {
  color: #308ec6;
}
.top_sec .cta .message .representative .text .soudan span span {
  font-size: 35px;
}
@media screen and (max-width: 767px) {
  .top_sec .cta .message .representative .text .soudan span span {
    font-size: clamp(16px, 5.5vw, 24px);
  }
}
.top_sec .cta .message .representative .text .hukidashi {
  font-weight: bold;
  background: #308ec6;
  color: #fff;
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .top_sec .cta .message .representative .text .hukidashi {
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 10px;
    margin-left: 0;
    line-height: 1.2;
    text-align: center;
  }
}
.top_sec .cta .message .representative .text .hukidashi:before {
  content: "";
  display: block;
  width: 40px;
  height: 20px;
  background: url("../img/hukidashi.svg") no-repeat center right/contain;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}
@media screen and (max-width: 767px) {
  .top_sec .cta .message .representative .text .hukidashi:before {
    width: 20px;
    left: -16px;
    top: 70%;
  }
}
.top_sec .cta .message .representative .text .hukidashi span {
  color: #fff;
  font-size: 16px;
}
@media screen and (max-width: 999px) {
  .top_sec .cta .message .representative .text .hukidashi span {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .top_sec .cta .message .representative .text .hukidashi span {
    font-size: 12px;
    margin-top: 5px;
  }
}
.top_sec .cta .btn_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: rgba(48, 142, 198, 0.1);
  border-radius: 10px;
  padding: 30px;
}
@media screen and (max-width: 999px) {
  .top_sec .cta .btn_wrap {
    flex-wrap: wrap;
    padding: 15px;
    gap: 10px;
  }
}
.top_sec .cta .btn_wrap .tel {
  width: 46%;
}
@media screen and (max-width: 999px) {
  .top_sec .cta .btn_wrap .tel {
    width: 100%;
  }
}
.top_sec .cta .btn_wrap .tel .btn {
  border-radius: 10px;
}
@media screen and (max-width: 999px) {
  .top_sec .cta .btn_wrap .tel .btn {
    border-radius: 7px;
    padding: 10px 15px;
  }
}
.top_sec .cta .btn_wrap .tel .btn div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
}
@media screen and (max-width: 1199px) {
  .top_sec .cta .btn_wrap .tel .btn div {
    font-size: 35px;
  }
}
@media screen and (max-width: 767px) {
  .top_sec .cta .btn_wrap .tel .btn div {
    font-size: clamp(20px, 7.0vw, 30px);
  }
}
.top_sec .cta .btn_wrap .tel .btn i {
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  .top_sec .cta .btn_wrap .tel .btn i {
    font-size: 20px;
  }
}
.top_sec .cta .btn_wrap .tel .btn span {
  color: #333;
}
@media screen and (max-width: 767px) {
  .top_sec .cta .btn_wrap .tel .btn span {
    font-size: 14px;
  }
}
.top_sec .cta .btn_wrap .mail, .top_sec .cta .btn_wrap .line {
  width: 27%;
}
@media screen and (max-width: 999px) {
  .top_sec .cta .btn_wrap .mail, .top_sec .cta .btn_wrap .line {
    width: calc(50% - 5px);
    max-width: 395px;
  }
}
.top_sec .cta .btn_wrap .mail .btn, .top_sec .cta .btn_wrap .line .btn {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: left;
  padding: 30px 25px;
}
@media screen and (max-width: 1199px) {
  .top_sec .cta .btn_wrap .mail .btn, .top_sec .cta .btn_wrap .line .btn {
    font-size: 18px;
    padding: 25px 15px;
  }
}
@media screen and (max-width: 767px) {
  .top_sec .cta .btn_wrap .mail .btn, .top_sec .cta .btn_wrap .line .btn {
    border-radius: 4px;
    font-size: clamp(12px, 3.5vw, 16px);
    padding: 12px 10px;
  }
}
.top_sec .cta .btn_wrap .mail .btn i, .top_sec .cta .btn_wrap .line .btn i {
  font-size: 50px;
  padding-right: 20px;
}
@media screen and (max-width: 767px) {
  .top_sec .cta .btn_wrap .mail .btn i, .top_sec .cta .btn_wrap .line .btn i {
    font-size: 30px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .top_sec .cta .btn_wrap .btn {
    line-height: 1.2;
  }
}
.top_sec .sec01 {
  background: #308ec6;
}
.top_sec .sec01 h2 {
  color: #fff;
}
.top_sec .sec01 .case_list {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec01 .case_list {
    margin-top: 20px;
  }
}
.top_sec .sec01 .case_list .case {
  background: #fff;
  border-radius: 15px;
  padding: 50px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 767px) {
  .top_sec .sec01 .case_list .case {
    padding: 15px;
  }
}
.top_sec .sec01 .case_list .case .user {
  position: relative;
}
.top_sec .sec01 .case_list .case .user .title {
  display: flex;
  align-items: center;
  padding-right: 180px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec01 .case_list .case .user .title {
    padding-right: 0;
    margin-bottom: 10px;
  }
}
.top_sec .sec01 .case_list .case .user .title .num {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  font-weight: bold;
  background: #ffcd00;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0;
  margin-right: 20px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec01 .case_list .case .user .title .num {
    width: 60px;
    height: 60px;
    font-size: 12px;
    line-height: 1;
    margin-right: 10px;
  }
}
.top_sec .sec01 .case_list .case .user .title .num span {
  font-size: 35px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec01 .case_list .case .user .title .num span {
    font-size: 25px;
  }
}
.top_sec .sec01 .case_list .case .user .title h3 {
  width: calc(100% - 120px);
  font-size: 25px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .top_sec .sec01 .case_list .case .user .title h3 {
    width: calc(100% - 65px);
    font-size: 17px;
  }
}
.top_sec .sec01 .case_list .case .user .detail {
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec01 .case_list .case .user .detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}
.top_sec .sec01 .case_list .case .user .detail dl {
  display: flex;
  align-items: center;
  padding-right: 180px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec01 .case_list .case .user .detail dl {
    flex-wrap: wrap;
    width: calc(100% - 120px);
    padding-right: 0;
  }
}
.top_sec .sec01 .case_list .case .user .detail dl dt, .top_sec .sec01 .case_list .case .user .detail dl dd {
  font-size: 16px;
}
@media screen and (max-width: 999px) {
  .top_sec .sec01 .case_list .case .user .detail dl dt, .top_sec .sec01 .case_list .case .user .detail dl dd {
    font-size: 14px;
  }
}
.top_sec .sec01 .case_list .case .user .detail dl dt {
  color: #308ec6;
  font-weight: bold;
  border: solid 1px #308ec6;
  border-radius: 5px;
  padding: 2px 12px;
  margin-right: 10px;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .top_sec .sec01 .case_list .case .user .detail dl dt {
    width: fit-content;
    max-width: 80px;
    padding: 2px 6px;
    margin-right: 5px;
  }
}
.top_sec .sec01 .case_list .case .user .detail dl dd {
  margin-right: 30px;
}
@media screen and (max-width: 999px) {
  .top_sec .sec01 .case_list .case .user .detail dl dd {
    margin-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .top_sec .sec01 .case_list .case .user .detail dl dd {
    width: calc(100% - 80px);
    margin-right: 0;
  }
}
.top_sec .sec01 .case_list .case .user .detail dl dd:nth-of-type(1), .top_sec .sec01 .case_list .case .user .detail dl dd:nth-of-type(2) {
  white-space: nowrap;
}
.top_sec .sec01 .case_list .case .user .img {
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec01 .case_list .case .user .img {
    position: relative;
    width: 100px;
  }
}
.top_sec .sec01 .case_list .case .text {
  border-radius: 10px;
  background: #f4f4f4;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec01 .case_list .case .text {
    margin-bottom: 15px;
  }
}
.top_sec .sec01 .case_list .case .text h4 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background: #308ec6;
  color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec01 .case_list .case .text h4 {
    font-size: 16px;
    padding: 8px;
  }
}
.top_sec .sec01 .case_list .case .text p {
  padding: 20px 30px;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec01 .case_list .case .text p {
    padding: 10px;
    font-size: 14px;
    line-height: 1.8;
  }
}
.top_sec .sec01 .case_list .case .subsidy {
  display: flex;
  align-items: center;
}
.top_sec .sec01 .case_list .case .subsidy h4 {
  font-size: 20px;
  background: #ffcd00;
  border-radius: 5px;
  padding: 10px 15px;
  margin-right: 15px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .top_sec .sec01 .case_list .case .subsidy h4 {
    font-size: 16px;
    padding: 5px 8px;
  }
}
.top_sec .sec01 .case_list .case .subsidy p {
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .top_sec .sec01 .case_list .case .subsidy p {
    font-size: 16px;
  }
}
.top_sec .sec02 {
  background: #f4f4f4;
}
.top_sec .sec02 h2 {
  text-align: left;
}
@media screen and (max-width: 767px) {
  .top_sec .sec02 h2 {
    text-align: center;
  }
}
.top_sec .sec02 p {
  font-size: 20px;
}
@media screen and (max-width: 999px) {
  .top_sec .sec02 p {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .top_sec .sec02 p {
    font-size: 16px;
  }
}
.top_sec .sec02 .text {
  width: 56%;
  padding-right: 20px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec02 .text {
    width: 100%;
    padding-right: 0;
  }
}
.top_sec .sec02 .img {
  width: 44%;
}
@media screen and (max-width: 767px) {
  .top_sec .sec02 .img {
    width: 100%;
  }
}
.top_sec .sec02 .img img {
  border-radius: 10px;
  margin-left: -20px;
  box-shadow: 20px 20px 0px #308ec6;
}
@media screen and (max-width: 767px) {
  .top_sec .sec02 .img img {
    width: calc(100% - 15px);
    box-shadow: 15px 15px 0px #308ec6;
    margin-left: 0;
  }
}
.top_sec .sec03 {
  padding-bottom: 0;
}
.top_sec .sec03 .js-scrollable {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .top_sec .sec03 .js-scrollable {
    max-width: 100%;
    overflow-x: scroll;
    margin-bottom: 40px;
  }
}
.top_sec .sec03 table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec03 table {
    margin-top: 10px;
  }
}
.top_sec .sec03 table th, .top_sec .sec03 table td {
  border: solid 1px #ccc;
  padding: 10px 20px;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .top_sec .sec03 table th, .top_sec .sec03 table td {
    padding: 8px 10px;
  }
}
.top_sec .sec03 table th {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background: #308ec6;
}
@media screen and (max-width: 767px) {
  .top_sec .sec03 table th {
    font-size: 15px;
  }
}
.top_sec .sec03 table td {
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec03 table td {
    font-size: 14px;
    line-height: 1.5;
  }
}
.top_sec .sec03 table tr:nth-of-type(odd) td {
  background: #f7f7f7;
}
.top_sec .sec03 table.tb01 {
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec03 table.tb01 {
    width: 700px;
    margin-bottom: 20px;
  }
}
.top_sec .sec03 table.tb01 td:not(:first-of-type) {
  text-align: right;
}
.top_sec .sec03 table.tb01 th:nth-of-type(1) {
  width: 32%;
}
.top_sec .sec03 table.tb01 th:nth-of-type(2), .top_sec .sec03 table.tb01 th:nth-of-type(3), .top_sec .sec03 table.tb01 th:nth-of-type(4) {
  width: 16%;
}
.top_sec .sec03 table.tb01 th:nth-of-type(5) {
  width: 20%;
}
@media screen and (max-width: 767px) {
  .top_sec .sec03 table.tb02 {
    margin-bottom: 20px;
  }
}
.top_sec .sec03 table.tb02 td:last-of-type {
  text-align: right;
}
.top_sec .sec03 table.tb02 th:nth-of-type(1) {
  width: 25%;
}
@media screen and (max-width: 767px) {
  .top_sec .sec03 table.tb02 th:nth-of-type(1) {
    width: 30%;
  }
}
.top_sec .sec03 table.tb02 th:nth-of-type(2) {
  width: 55%;
}
@media screen and (max-width: 767px) {
  .top_sec .sec03 table.tb02 th:nth-of-type(2) {
    width: 42%;
  }
}
.top_sec .sec03 table.tb02 th:nth-of-type(3) {
  width: 20%;
}
@media screen and (max-width: 767px) {
  .top_sec .sec03 table.tb02 th:nth-of-type(3) {
    width: 48%;
  }
}
.top_sec .sec04 {
  background: #eaf3f9;
}
.top_sec .sec04 .reason_list {
  counter-reset: number 0;
}
.top_sec .sec04 .reason_list > div {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec04 .reason_list > div {
    flex-flow: column;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .top_sec .sec04 .reason_list > div:last-of-type {
    margin-bottom: 0;
  }
}
.top_sec .sec04 .reason_list > div .img {
  width: 42%;
  position: relative;
  padding-top: 50px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec04 .reason_list > div .img {
    width: 100%;
    padding-top: 10px;
  }
}
.top_sec .sec04 .reason_list > div .img:before {
  counter-increment: number 1;
  content: counter(number, decimal-leading-zero) "";
  position: absolute;
  left: 10px;
  top: 0;
  font-weight: bold;
  color: #308ec6;
  font-size: 100px;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .top_sec .sec04 .reason_list > div .img:before {
    font-size: 77px;
    top: -30px;
  }
}
.top_sec .sec04 .reason_list > div .img img {
  border-radius: 10px;
}
.top_sec .sec04 .reason_list > div .text {
  width: 53%;
}
@media screen and (max-width: 767px) {
  .top_sec .sec04 .reason_list > div .text {
    width: 100%;
  }
}
.top_sec .sec04 .reason_list > div .text h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.8;
}
@media screen and (max-width: 767px) {
  .top_sec .sec04 .reason_list > div .text h3 {
    font-size: 16px;
    margin: 5px 0 10px;
  }
}
.top_sec .sec04 .reason_list > div .text h3 span {
  display: inline;
  background: linear-gradient(transparent 65%, #eac300 0%);
}
.top_sec .sec04 .reason_list > div .text p {
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec04 .reason_list > div .text p {
    font-size: 14px;
  }
}
.top_sec .sec04 .reason_list > div .text p span {
  color: #308ec6;
}
.top_sec .sec05 {
  background: #308ec6;
}
.top_sec .sec05 h2 {
  color: #fff;
}
.top_sec .sec05 .price {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .top_sec .sec05 .price {
    flex-flow: column;
  }
}
.top_sec .sec05 .price > div {
  width: 48%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 10px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .top_sec .sec05 .price > div {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 10px;
  }
}
.top_sec .sec05 .price > div .title {
  background: #ffcd00;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec05 .price > div .title {
    font-size: 16px;
  }
}
.top_sec .sec05 .price > div p {
  padding: 30px 20px;
  font-weight: bold;
  font-size: 30px;
}
@media screen and (max-width: 999px) {
  .top_sec .sec05 .price > div p {
    line-height: 1.2;
  }
}
@media screen and (max-width: 767px) {
  .top_sec .sec05 .price > div p {
    padding: 20px 10px;
    font-size: 24px;
  }
}
.top_sec .sec05 .price > div p span {
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec05 .price > div p span {
    font-size: 16px;
  }
}
.top_sec .sec05 .price > div p br {
  display: none;
}
@media screen and (max-width: 999px) {
  .top_sec .sec05 .price > div p br {
    display: block;
  }
}
@media screen and (max-width: 479px) {
  .top_sec .sec05 .price > div p br {
    display: none;
  }
}
.top_sec .sec05 .throughout {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .top_sec .sec05 .throughout {
    margin-top: 20px;
    flex-flow: column-reverse;
  }
}
.top_sec .sec05 .throughout .img {
  width: 30%;
  padding-right: 40px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec05 .throughout .img {
    width: 70%;
    padding-right: 0;
    padding-top: 20px;
  }
}
.top_sec .sec05 .throughout p {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  line-height: 1.5;
}
@media screen and (max-width: 767px) {
  .top_sec .sec05 .throughout p {
    font-size: 18px;
  }
}
.top_sec .sec05 .throughout p span {
  font-size: 35px;
  color: #ffcd00;
}
@media screen and (max-width: 767px) {
  .top_sec .sec05 .throughout p span {
    font-size: 24px;
  }
}
.top_sec .sec06 {
  background: #f4f4f4;
}
.top_sec .sec06 .flow {
  counter-reset: number 0;
  margin-top: 50px;
}
.top_sec .sec06 .flow > div {
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 25px 30px 25px 50px;
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .top_sec .sec06 .flow > div {
    margin-top: 40px;
    margin-left: 0;
    border-radius: 10px;
    padding: 15px 20px;
  }
}
.top_sec .sec06 .flow > div:before {
  counter-increment: number 1;
  content: counter(number, decimal-leading-zero) "";
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  background: #308ec6;
  color: #fff;
  font-size: 25px;
  line-height: 1;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  line-height: 60px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .top_sec .sec06 .flow > div:before {
    font-size: 20px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    left: 20px;
    top: -22px;
    transform: none;
  }
}
.top_sec .sec06 .flow .icon {
  width: 210px;
  height: 130px;
  padding-right: 30px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec06 .flow .icon {
    width: 100px;
    padding-right: 20px;
  }
}
.top_sec .sec06 .flow .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 767px) {
  .top_sec .sec06 .flow .text {
    width: calc(100% - 100px);
  }
}
.top_sec .sec06 .flow .text h3 {
  color: #308ec6;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec06 .flow .text h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.top_sec .sec06 .flow .text p {
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec06 .flow .text p {
    font-size: 14px;
    line-height: 1.7;
  }
}
.top_sec .sec07 .faq {
  margin: 60px 0 40px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec07 .faq {
    margin: 10px 0;
  }
}
.top_sec .sec07 .faq dl {
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  padding: 40px;
  margin-top: 30px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .top_sec .sec07 .faq dl {
    padding: 15px;
  }
}
.top_sec .sec07 .faq dl:before, .top_sec .sec07 .faq dl:after {
  content: "";
  width: 17px;
  height: 3px;
  background: #333;
  position: absolute;
  right: 40px;
  top: 53px;
  transition: all 0.3s;
}
@media screen and (max-width: 767px) {
  .top_sec .sec07 .faq dl:before, .top_sec .sec07 .faq dl:after {
    right: 20px;
    top: 30px;
  }
}
.top_sec .sec07 .faq dl:after {
  transform: rotate(90deg);
}
.top_sec .sec07 .faq dl.active:after {
  transform: rotate(0deg);
}
.top_sec .sec07 .faq dl dt {
  font-weight: bold;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .top_sec .sec07 .faq dl dt {
    font-size: 16px;
  }
}
.top_sec .sec07 .faq dl dt:before {
  content: "Q.";
  color: #308ec6;
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (max-width: 767px) {
  .top_sec .sec07 .faq dl dt:before {
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.top_sec .sec07 .faq dl dd {
  margin-top: 25px;
  line-height: 1.8;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .top_sec .sec07 .faq dl dd {
    font-size: 14px;
  }
}
.top_sec .sec07 .faq dl dd span {
  color: #308ec6;
}
.top_sec .sec07 .faq dl dd a {
  color: #308ec6;
  text-decoration: underline;
}
.top_sec .sec08 {
  padding-bottom: 20px;
}
.top_sec .contact {
  background: #eaf3f9;
}
.top_sec .contact .wpcf7 {
  background: none;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
}
.top_sec .contact form table {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto 30px;
  border-spacing: 0;
  border-collapse: collapse;
}
@media screen and (max-width: 767px) {
  .top_sec .contact form table {
    margin: 0 auto 20px;
  }
}
.top_sec .contact form table th, .top_sec .contact form table td {
  border-bottom: solid 1px #aaa;
  vertical-align: top;
}
@media screen and (max-width: 767px) {
  .top_sec .contact form table th, .top_sec .contact form table td {
    display: block;
  }
}
.top_sec .contact form table th {
  text-align: left;
  line-height: 1.5;
  width: 160px;
  padding: 30px 0;
}
@media screen and (max-width: 767px) {
  .top_sec .contact form table th {
    width: 100%;
    border-bottom: 0;
    padding: 15px 0 0;
  }
}
.top_sec .contact form table th span {
  display: block;
  font-size: 12px;
  color: #308ec6;
}
@media screen and (max-width: 767px) {
  .top_sec .contact form table th span {
    display: inline-block;
    padding-right: 10px;
  }
}
.top_sec .contact form table td {
  padding: 30px 0 40px;
}
@media screen and (max-width: 767px) {
  .top_sec .contact form table td {
    padding: 5px 0 30px;
  }
}
.top_sec .contact form table input, .top_sec .contact form table textarea {
  display: block;
  border-radius: 5px;
  padding: 18px 15px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .top_sec .contact form table input, .top_sec .contact form table textarea {
    padding: 13px;
  }
}
.top_sec .contact form table input {
  max-width: 500px;
}
.top_sec .contact form table textarea {
  height: 200px;
}
.top_sec .contact form input[type=submit] {
  display: block;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.02rem;
  font-weight: bold;
  color: #fff;
  background: #308ec6;
  padding: 22px 25px;
  border-radius: 7px;
  width: 100%;
  max-width: 330px;
  box-shadow: 3px 4px 0px #26719d;
  border: none;
  margin: 0 auto;
  transition: all 0.1s;
}
@media screen and (max-width: 767px) {
  .top_sec .contact form input[type=submit] {
    font-size: 14px;
    max-width: 250px;
    padding: 15px 10px;
  }
}
.top_sec .contact form input[type=submit]:hover {
  transform: translate(2px, 3px);
  box-shadow: 2px 2px 0px #26719d;
}/*# sourceMappingURL=style.css.map */