/*
Template: jin
Theme Name: jin-child
Author: CrossPiece
Version: 1.00
*/

.footer_bottom-text {
  padding: 0 10px;
}

.pickup-image,
.new-entry-item .eyecatch,
.post-list-thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.pickup-image:before,
.new-entry-item .eyecatch:before,
.post-list-thumb:before {
    content:"";
    display: block;
    padding-top: 56.25%; /* 16:9 */
}
.pickup-image img,
.new-entry-item .eyecatch img,
.post-list-thumb img {
    position: absolute;
    top: 50%;
    left: 50%;
   -webkit-transform: translate(-50%, -50%) !important;
   transform: translate(-50%, -50%) !important;
}

#searchform {
  text-align: right;
  float: none;
}
#New_Nav {
  background: #00a8bd;
}
#New_Nav .New_menu-gnavi {
  max-width: 1050px;
  display: flex;
  margin: 0 auto;
  padding: 1em 0;
}
#New_Nav .New_menu-gnavi li {
  width:20%;
  list-style: none;
  text-align: center;
  border-right: 1px solid #fff;
}
#New_Nav .New_menu-gnavi li:first-child {
  border-left: 1px solid #fff;
}
#New_Nav .New_menu-gnavi li a {
  color: #fff;
  display: block;
}
@media screen and (max-width: 600px) {
  #New_Nav .New_menu-gnavi {
    display: none;
  }
}
/*#access {
  display: none;
}*/

.mb30 {
  margin-bottom: 30px;
}

#header .content-width {
position: relative;
border:0!important;
}
#header .content-width #site-telline {
position: absolute;
top: 30px;
right: 0;
}

.BnrArea {
background-color: #FFF!important;
border:0!important;
}
.BnrArea .pc {
  display:block;
}
.BnrArea .sp {
  display:none;
}
.BnrArea .Inner {
  padding: 18px!important;
border:0!important;
}
.BnrArea .Inner .Illust {
  float: left;
  width:19%;
}
.BnrArea .Inner .Illust img {
  width:100%;
  height: auto;
}
.BnrArea .Inner .Text {
  float: right;
  width:78%;
}
.BnrArea .Inner .Text span {
  color: #00a8bd;
}

.BnrArea .Inner .Text p.Head {
  color:#0066cc;
  font-size: 18px!important;
}

@media screen and (max-width: 600px) {

  .FlexCenter {
    display: flex;
    justify-content: center;
}
}

.wp-pagenavi span ,
.wp-pagenavi a, .wp-pagenavi span ,
.wp-pagenavi .previouspostslink, .wp-pagenavi .nextpostslink {
  border-radius: 0;
}
#index_loop .hentry {
  width:48%;
  margin-right: 2%;
}
#index_loop .hentry:nth-child(2n) {
    margin-right: 0;
}
#index_loop .post-date {
    float: right;
}
/*#index_loop .hentry .inner {
    padding: 1rem 0;
}*/
.excerpt {
  margin:4px 0;
  font-size:1.3rem;
}

@media screen and (max-width: 600px) {
#index_loop .hentry {
  width:98%;
  margin-left: 1%;
  margin-right: 1%;
}
}

#New_Footer {
  background: #2fb8cb;
  padding: 30px 0 20px;
}
#New_Footer .Inner {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#New_Footer .Inner dl {
  width:20%;
  margin-right:2%;
}
@media screen and (max-width: 600px) {
#New_Footer .Inner dl {
  width:96%;
  margin-left:2%;
  margin-right:2%;
}
}
#New_Footer .Inner dl dt {
  text-align: center;
  background-color: #fff;
  padding: 6px 0;
  border-radius: 24px;
  margin-bottom: 8px;
}
#New_Footer .Inner dl dd {
  margin-left: 16px;
  margin-bottom: 4px;
}
#New_Footer .Inner dl dd a.arrow{
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #fff;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
}
#New_Footer .Inner dl dd a.arrow:before,
#New_Footer .Inner dl dd a.arrow:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}
#New_Footer .Inner dl dd a.type1:before{
    left: 4px;
    width: 6px;
    height: 2px;
    background: #fff;
}
#New_Footer .Inner dl dd a.type1:after{
    left: 4px;
    width: 4px;
    height: 4px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* 20200311 */
.cpateli{overflow: hidden;margin-bottom: -50px;width: 105%;}
.cpateli_1 li{
    float: left;
}
.cpateli_1 li:first-child{margin-right: 5px;}

#site-telline{overflow: hidden;display: inline-block;margin-left: 10px;}
img.stl2{margin-left: 5px;}
@media screen and (max-width: 480px) {
    #site-telline{display: none;}
}


#sitetel {
    display: inline-block;
    margin: 0;
    font-weight: bold;
    line-height: 0;
    width: 300px;
}
#sitetel ul{margin: 0px;}
#sitetel li{list-style: none;}

/* 20200527 */
.category-sougyo{
	font-size:14pt;
}

/* 20200612 */

@media screen and (max-width: 480px){
.pc{
  display: none;
}	
.Illust {
  display:none;
}
.BnrArea .Inner .Illust img {
  display:none;
}

.BnrArea .Inner .Text {
  float: right;
  width:100%;
}
}
//---WP本体：更新通知メールの停止
add_filter('auto_core_update_send_email' , '__return_false');

//---テーマ：更新通知メールの停止
add_filter('auto_theme_update_send_email' , '__return_false');

//---プラグイン：更新通知メールの停止
add_filter('auto_plugin_update_send_email' , '__return_false');