@charset "UTF-8";
/*2200330*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap");
#contents {
  width: 100% !important;
}

/*Robotoフォント読込*/
/*only*/
.pc_only {
  display: block;
}

@media screen and (max-width: 767px) {
  .pc_only {
    display: none;
  }
}

.sp_only {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp_only {
    display: block;
  }
}

.top_sec .w1140 {
  max-width: 1140px;
  margin: 0 auto;
}

.top_sec section {
  padding: 100px 20px;
}

@media screen and (max-width: 767px) {
  .top_sec section {
    padding: 50px 15px;
  }
}

.top_sec h2 {
  color: #2faabb;
  font-size: 35px;
  line-height: 1.6;
  font-weight: bold;
  margin: 0 0 20px;
}

@media screen and (max-width: 999px) {
  .top_sec h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  .top_sec h2 {
    font-size: 26px;
  }
}

.top_sec h3.blue_ttl {
  color: #3b4675;
  font-size: 24px;
  font-weight: bold;
  padding: 0 20px;
  margin-bottom: 50px;
  border-left: solid 5px #3b4675;
  line-height: 1.2;
  position: relative;
}

@media screen and (max-width: 767px) {
  .top_sec h3.blue_ttl {
    font-size: 20px;
    padding: 0 10px;
    margin-bottom: 30px;
  }
}

.top_sec h3.blue_ttl:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -16px;
  left: -5px;
  width: calc(100% + 5px);
  height: 1px;
  border-bottom: solid 1px #ccc;
}

.top_sec h2 + p, .top_sec h3.blue_ttl + p {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .top_sec h2 + p, .top_sec h3.blue_ttl + p {
    margin-bottom: 20px;
  }
}

.top_sec p, .top_sec li, .top_sec th, .top_sec td {
  margin: 0;
  font-size: 15px;
  line-height: 2.0;
  color: #333;
}

@media screen and (max-width: 767px) {
  .top_sec p, .top_sec li, .top_sec th, .top_sec td {
    font-size: 14px;
  }
}

.top_sec img {
  max-width: 100%;
}

.top_sec .col_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

@media screen and (max-width: 767px) {
  .top_sec .col_wrap {
    -ms-flex-flow: column wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
  }
}

.top_sec .bl_btn {
  display: block;
  text-align: center;
  font-size: 28px;
  letter-spacing: 0.2rem;
  font-weight: bold;
  color: #fff;
  background: #308ec6;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  -webkit-box-shadow: 4px 6px 0px #156798;
          box-shadow: 4px 6px 0px #156798;
  margin: 0 auto;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.top_sec .bl_btn:hover {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
  -webkit-box-shadow: 2px 2px 0px #156798;
          box-shadow: 2px 2px 0px #156798;
}

@media screen and (max-width: 999px) {
  .top_sec .bl_btn {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .bl_btn {
    width: 90%;
    font-size: 20px;
    padding: 30px 20px;
  }
}

.top_sec .rep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .top_sec .rep {
    -ms-flex-flow: column-reverse nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-flow: column-reverse nowrap;
  }
}

.top_sec .rep p {
  background: #f4f4f4;
  padding: 20px 30px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  border: solid 2px #2faabb;
  margin-left: 70px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .top_sec .rep p {
    margin-left: 0;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 16px;
  }
}

.top_sec .rep p:before, .top_sec .rep p:after {
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -2.5em;
  border-top: 16px solid transparent;
  border-right: 2.5em solid #2faabb;
  border-bottom: 16px solid transparent;
}

@media screen and (max-width: 767px) {
  .top_sec .rep p:before, .top_sec .rep p:after {
    bottom: -1.5em;
    top: auto;
    left: 50%;
    -webkit-transform: translateY(0%) translateX(-50%);
            transform: translateY(0%) translateX(-50%);
    border-bottom: none;
    border-top: 1.5em solid #2faabb;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}

.top_sec .rep p:after {
  left: calc( -14px - 1.5em);
  border-right: 2.5em solid #f4f4f4;
}

@media screen and (max-width: 767px) {
  .top_sec .rep p:after {
    left: 50%;
    bottom: calc( 4px - 1.5em);
    border-right: 10px solid transparent;
    border-top: solid 1.5em #f4f4f4;
  }
}

.top_sec .contact_wrap {
  background: #fff;
  border: solid 2px #2faabb;
  border-radius: 20px;
}

.top_sec .contact_wrap > p {
  text-align: center;
  padding: 6px;
  background: #2faabb;
  border-radius: 15px 15px 0 0;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

@media screen and (max-width: 767px) {
  .top_sec .contact_wrap > p {
    padding: 14px;
    font-size: 20px;
    letter-spacing: 0.05rem;
    line-height: 1.2;
  }
}

.top_sec .contact_wrap > p span {
  font-size: 35px;
  color: #f4ed33;
}

@media screen and (max-width: 767px) {
  .top_sec .contact_wrap > p span {
    font-size: 24px;
  }
}

.top_sec .contact_wrap .soudan {
  width: 62%;
  margin: 0 40px 20px auto;
  padding: 50px 0 20px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .top_sec .contact_wrap .soudan {
    width: 100%;
    margin: 0;
    padding: 20px;
  }
}

.top_sec .contact_wrap .soudan p:first-child {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 40px;
  border-radius: 40px;
  background: #fffb9b;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 999px) {
  .top_sec .contact_wrap .soudan p:first-child {
    font-size: 22px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .contact_wrap .soudan p:first-child {
    padding: 10px 30px;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
  }
}

.top_sec .contact_wrap .soudan p:last-child {
  margin-top: 16px;
  font-size: 35px;
  font-weight: bold;
}

@media screen and (max-width: 999px) {
  .top_sec .contact_wrap .soudan p:last-child {
    line-height: 1.8;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .contact_wrap .soudan p:last-child {
    width: 60%;
    margin-left: auto;
    font-size: 24px;
    line-height: 1.5;
  }
}

.top_sec .contact_wrap .soudan p:last-child span {
  color: #f68936;
}

.top_sec .contact_wrap .soudan p:last-child img {
  position: absolute;
  bottom: 20px;
  left: -40px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 50%;
  max-width: 190px;
}

@media screen and (max-width: 767px) {
  .top_sec .contact_wrap .soudan p:last-child img {
    max-width: 170px;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .contact_wrap .soudan p:last-child img {
    left: 20px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 30%;
  }
}

.top_sec .contact_wrap .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin: 0 40px 40px;
}

@media screen and (max-width: 999px) {
  .top_sec .contact_wrap .contact {
    -ms-flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column nowrap;
    margin: 0 20px 20px;
  }
}

.top_sec .contact_wrap .contact a {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.top_sec .contact_wrap .contact a:nth-of-type(1) {
  background: #308ec6;
  -webkit-box-shadow: 4px 4px 1px 0 #156798;
          box-shadow: 4px 4px 1px 0 #156798;
}

.top_sec .contact_wrap .contact a:nth-of-type(2) {
  background: #f68936;
  -webkit-box-shadow: 4px 4px 1px 0 #ea731b;
          box-shadow: 4px 4px 1px 0 #ea731b;
}

.top_sec .contact_wrap .contact a:nth-of-type(3) {
  background: #54c553;
  -webkit-box-shadow: 4px 4px 1px 0 #29b329;
          box-shadow: 4px 4px 1px 0 #29b329;
}

.top_sec .contact_wrap .contact a:hover {
  -webkit-transform: translate(2px, 4px);
          transform: translate(2px, 4px);
}

.top_sec .contact_wrap .contact a:hover:nth-of-type(1) {
  -webkit-box-shadow: 2px 2px 1px 0 #156798;
          box-shadow: 2px 2px 1px 0 #156798;
}

.top_sec .contact_wrap .contact a:hover:nth-of-type(2) {
  -webkit-box-shadow: 2px 2px 1px 0 #ea731b;
          box-shadow: 2px 2px 1px 0 #ea731b;
}

.top_sec .contact_wrap .contact a:hover:nth-of-type(3) {
  -webkit-box-shadow: 2px 2px 1px 0 #29b329;
          box-shadow: 2px 2px 1px 0 #29b329;
}

.top_sec .contact_wrap .contact a p {
  color: #fff;
  line-height: 1.5;
  font-size: 15px;
}

@media screen and (max-width: 1199px) {
  .top_sec .contact_wrap .contact a p {
    font-size: 14px;
  }
}

.top_sec .contact_wrap .contact a .link_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 1199px) {
  .top_sec .contact_wrap .contact a .link_name {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .contact_wrap .contact a .link_name {
    font-size: 20px;
  }
}

.top_sec .contact_wrap .contact a .link_name.tel {
  font-size: 28px;
}

@media screen and (max-width: 1199px) {
  .top_sec .contact_wrap .contact a .link_name.tel {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .contact_wrap .contact a .link_name.tel {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .contact_wrap .contact a img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.top_sec .sec01 {
  background: #daeff2;
}

.top_sec .sec01 p {
  margin-bottom: 0;
}

@media screen and (max-width: 999px) {
  .top_sec .sec01 .col_wrap {
    gap: 0px;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .sec01 .col_wrap {
    -ms-flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column nowrap;
    gap: 20px;
  }
}

.top_sec .sec01 .col_wrap div:first-child {
  width: 35%;
}

@media screen and (max-width: 999px) {
  .top_sec .sec01 .col_wrap div:first-child {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .sec01 .col_wrap div:first-child {
    width: 100%;
  }
}

.top_sec .sec01 .text_b {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 100px;
}

@media screen and (max-width: 767px) {
  .top_sec .sec01 .text_b {
    font-size: 16px;
    margin-bottom: 40px;
  }
}

.top_sec .sec02 {
  background: #f4f4f4;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .top_sec .sec02 {
    text-align: left;
  }
}

.top_sec .sec02 img {
  margin: 20px auto;
}

.top_sec .sec03 .link_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 30px;
  margin-bottom: 60px;
}

@media screen and (max-width: 999px) {
  .top_sec .sec03 .link_wrap {
    gap: 10px;
  }
}

.top_sec .sec03 .link_wrap a {
  display: table;
  width: calc( (100% - 60px) / 3);
  text-align: center;
  padding: 100px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

@media screen and (max-width: 999px) {
  .top_sec .sec03 .link_wrap a {
    font-size: 20px;
    width: calc( (100% - 20px) / 3);
  }
}

@media screen and (max-width: 767px) {
  .top_sec .sec03 .link_wrap a {
    width: 100%;
    padding: 80px 10px;
    font-size: 16px;
    line-height: 1.8;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .sec03 .link_wrap a:nth-of-type(2) {
    padding: 70px 10px;
  }
}

.top_sec .sec03 .link_wrap a:after {
  content: '';
  border: 2px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  width: calc(100% - 70px);
  height: calc(100% - 70px);
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 999px) {
  .top_sec .sec03 .link_wrap a:after {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
  }
}

.top_sec .sec03 .link_wrap a:hover {
  color: #2faabb;
}

.top_sec .sec03 .link_wrap a:hover:after {
  width: 100%;
  height: 100%;
}

.top_sec .sec03 .link_wrap a span {
  display: table-cell;
  vertical-align: middle;
}

.top_sec .sec03 .rep {
  max-width: 1050px;
  margin: 0 auto 80px;
}

.top_sec .sec03 .check_wrap {
  background: url("../img/top_bg02.jpg") repeat center center/36px 35px;
  border: solid 1px #aaafc3;
  border-radius: 20px;
  padding: 50px;
  margin-bottom: 100px;
}

@media screen and (max-width: 999px) {
  .top_sec .sec03 .check_wrap {
    padding: 40px;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .sec03 .check_wrap {
    padding: 30px 20px;
  }
}

.top_sec .sec03 .check_wrap .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
}

@media screen and (max-width: 999px) {
  .top_sec .sec03 .check_wrap .check {
    gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .sec03 .check_wrap .check {
    -ms-flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column nowrap;
    gap: 20px;
  }
}

.top_sec .sec03 .check_wrap .check > div {
  width: 65%;
}

@media screen and (max-width: 767px) {
  .top_sec .sec03 .check_wrap .check > div {
    width: 100%;
  }
}

.top_sec .sec03 .check_wrap .check > p {
  width: 35%;
}

@media screen and (max-width: 767px) {
  .top_sec .sec03 .check_wrap .check > p {
    width: 100%;
    text-align: center;
  }
}

.top_sec .sec03 .check_wrap .check:not(:last-child) {
  margin-bottom: 30px;
}

.top_sec .sec03 .check_wrap .check h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0 25px;
}

@media screen and (max-width: 767px) {
  .top_sec .sec03 .check_wrap .check h4 {
    font-size: 16px;
    margin: 5px 0 16px;
  }
}

.top_sec .sec03 .check_wrap .check h4:before {
  content: '\f058';
  font-family: 'Font Awesome 5 Free';
  margin-right: 10px;
  font-size: 25px;
}

@media screen and (max-width: 767px) {
  .top_sec .sec03 .check_wrap .check h4:before {
    font-size: 20px;
  }
}

.top_sec .sec03 .article_wrap {
  background: #fff;
  border-radius: 20px;
  padding: 40px 70px;
  border: solid 1px #9da2ba;
}

@media screen and (max-width: 767px) {
  .top_sec .sec03 .article_wrap {
    padding: 30px 20px 30px 40px;
  }
}

.top_sec .sec03 .article_wrap li {
  font-size: 15px;
  color: #3b4675;
  position: relative;
  margin-bottom: 16px;
}

.top_sec .sec03 .article_wrap li:before {
  position: absolute;
  content: "";
  top: 10px;
  left: -24px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #2faabb;
  border-right: 2px solid #2faabb;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 767px) {
  .top_sec .sec03 .article_wrap li:before {
    left: -18px;
    width: 6px;
    height: 6px;
  }
}

.top_sec .sec04 {
  background: #daeff2;
}

.top_sec .sec04 .achievement {
  background: #fff;
  border-radius: 20px;
  padding: 0 0 20px;
  -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 60px 0;
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .achievement {
    margin: 30px 0;
  }
}

.top_sec .sec04 .ach_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -ms-justify-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  background: #3b4675;
  border-radius: 20px 20px 0 0;
  padding: 30px 50px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .ach_head {
    gap: 20px;
    padding: 20px;
  }
}

.top_sec .sec04 .ach_head .case {
  background: #2faabb;
  width: 90px;
  height: 90px;
  border-radius: 90px;
  text-align: center;
  display: table;
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .ach_head .case {
    width: 70px;
    height: 70px;
  }
}

.top_sec .sec04 .ach_head .case span {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: Roboto;
  line-height: 1.0;
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .ach_head .case span {
    font-size: 12px;
  }
}

.top_sec .sec04 .ach_head .case span > span {
  display: block;
  font-size: 40px;
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .ach_head .case span > span {
    font-size: 30px;
  }
}

.top_sec .sec04 .ach_head h3 {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .ach_head h3 {
    font-size: 18px;
  }
}

.top_sec .sec04 .ach_head div:last-child p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  padding: 3px 16px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  color: #3b4675;
  background: #fffb9b;
  border-radius: 30px;
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .ach_head div:last-child p {
    font-size: 14px;
  }
}

.top_sec .sec04 .ach_bottom {
  padding: 30px 50px;
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .ach_bottom {
    padding: 20px;
  }
}

.top_sec .sec04 .ach_bottom .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 60px;
  background: #f4f4f4;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 999px) {
  .top_sec .sec04 .ach_bottom .user {
    gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .ach_bottom .user {
    -ms-flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column nowrap;
    gap: 20px;
    padding: 20px;
  }
}

.top_sec .sec04 .ach_bottom .user div {
  width: 100%;
  padding-top: 10px;
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .ach_bottom .user div {
    padding-top: 0;
  }
}

.top_sec .sec04 .ach_bottom .user p:last-child {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

@media screen and (max-width: 999px) {
  .top_sec .sec04 .ach_bottom .user p:last-child {
    font-size: 18px;
    line-height: 1.8;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .ach_bottom .user p:last-child {
    font-size: 16px;
    line-height: 1.5;
  }
}

.top_sec .sec04 .ach_bottom .user img {
  max-width: 40%;
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .ach_bottom .user img {
    max-width: 100%;
    margin-left: auto;
  }
}

.top_sec .sec04 .ach_bottom .ttl {
  font-size: 24px;
  font-weight: bold;
  color: #3b4675;
  display: inline;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, transparent), color-stop(0%, #3b4675));
  background: linear-gradient(transparent 96%, #3b4675 0%);
}

@media screen and (max-width: 999px) {
  .top_sec .sec04 .ach_bottom .ttl {
    font-size: 22px;
    line-height: 1.8;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .ach_bottom .ttl {
    font-size: 18px;
    line-height: 1.5;
  }
}

.top_sec .sec04 .ach_bottom .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 60px;
}

@media screen and (max-width: 999px) {
  .top_sec .sec04 .ach_bottom .comment {
    gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .ach_bottom .comment {
    -ms-flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column nowrap;
    gap: 0;
  }
}

.top_sec .sec04 .ach_bottom .comment div {
  width: 100%;
}

.top_sec .sec04 .ach_bottom .comment span {
  color: #ff0000;
}

.top_sec .sec04 .ach_bottom .comment .point {
  background: #fffcb1;
  border-radius: 10px;
  padding: 20px;
  margin: 12px 0;
}

.top_sec .sec04 .achievement:nth-of-type(2n) .ach_bottom .user {
  -ms-flex-flow: row-reverse nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-flow: row-reverse nowrap;
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .achievement:nth-of-type(2n) .ach_bottom .user {
    -ms-flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column nowrap;
  }
}

.top_sec .sec04 .achievement_others {
  background: #fff;
  border-radius: 20px;
  padding: 50px;
  -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .achievement_others {
    padding: 30px 20px;
  }
}

.top_sec .sec04 .achievement_others > p span {
  font-size: 20px;
  font-weight: bold;
  color: #2faabb;
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .achievement_others > p span {
    font-size: 16px;
  }
}

.top_sec .sec04 .achievement_others .table_ttl {
  text-align: center;
  background: #3b4675;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .achievement_others .table_ttl {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.top_sec .sec04 .achievement_others .table_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .achievement_others .table_wrap {
    -ms-flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column nowrap;
    gap: 20px;
  }
}

.top_sec .sec04 .achievement_others .table_wrap + p {
  margin-top: 10px;
  text-align: right;
}

.top_sec .sec04 .achievement_others table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.top_sec .sec04 .achievement_others table th, .top_sec .sec04 .achievement_others table td {
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .top_sec .sec04 .achievement_others table th, .top_sec .sec04 .achievement_others table td {
    padding: 6px;
    font-size: 12px;
  }
}

.top_sec .sec04 .achievement_others table th {
  color: #fff;
  background: #2faabb;
}

.top_sec .sec04 .achievement_others table td {
  background: #eaf6f8;
  border-bottom: solid 1px #bfc8ca;
}

.top_sec .sec05 {
  background: url("../img/top_bg01.jpg") no-repeat center center/cover;
  counter-reset: number 0;
}

.top_sec .sec05 .strength {
  background: #fff;
  border: solid 2px #9da2ba;
  border-radius: 20px;
  padding: 50px 50px 40px;
  margin-top: 80px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .top_sec .sec05 .strength {
    padding: 40px 20px 30px;
    margin-top: 50px;
  }
}

.top_sec .sec05 .strength:before {
  position: absolute;
  top: 0;
  left: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  counter-increment: number 1;
  content: "0" counter(number);
  display: block;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  color: #fff;
  font-size: 40px;
  line-height: 75px;
  font-weight: bold;
  font-family: Roboto;
  text-align: center;
  background: #3b4675;
}

@media screen and (max-width: 767px) {
  .top_sec .sec05 .strength:before {
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    left: 20px;
  }
}

.top_sec .sec05 .strength h3 {
  font-size: 24px;
  font-weight: bold;
  color: #3b4675;
  padding-bottom: 10px;
  border-bottom: solid 1px #cbcdda;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .top_sec .sec05 .strength h3 {
    font-size: 18px;
  }
}

.top_sec .sec05 .strength div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 60px;
}

@media screen and (max-width: 999px) {
  .top_sec .sec05 .strength div {
    gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .top_sec .sec05 .strength div {
    -ms-flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column nowrap;
    gap: 20px;
  }
}

.top_sec .sec05 .strength div span {
  color: #ff0000;
}

.top_sec .sec05 .strength img {
  max-width: 40%;
}

@media screen and (max-width: 767px) {
  .top_sec .sec05 .strength img {
    max-width: 100%;
    margin: 0 auto;
  }
}

.top_sec .sec06 {
  background: #daeff2;
}

.top_sec .sec07 {
  background: #f4f4f4;
}

.top_sec .sec07 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 50px 30px;
  background: #fff;
  border-radius: 12px;
  padding: 50px;
  -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  counter-reset: number 0;
}

@media screen and (max-width: 767px) {
  .top_sec .sec07 ul {
    -ms-flex-flow: column wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
    gap: 30px;
    padding: 25px;
  }
}

.top_sec .sec07 ul li {
  width: calc( (100% - 60px) / 3);
  position: relative;
}

@media screen and (max-width: 999px) {
  .top_sec .sec07 ul li {
    width: calc( (100% - 30px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .top_sec .sec07 ul li {
    width: 100%;
  }
}

.top_sec .sec07 ul li:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  border-left: 88px solid #2faabb;
  border-bottom: 88px solid transparent;
}

@media screen and (max-width: 767px) {
  .top_sec .sec07 ul li:before {
    border-left: 60px solid #2faabb;
    border-bottom: 60px solid transparent;
  }
}

.top_sec .sec07 ul li:after {
  position: absolute;
  top: 4px;
  left: 16px;
  counter-increment: number 1;
  content: counter(number);
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .top_sec .sec07 ul li:after {
    top: 2px;
    left: 12px;
    font-size: 18px;
  }
}

.top_sec .sec07 ul li p:first-child {
  text-align: center;
  padding: 40px 20px 10px;
  min-height: 125px;
}

@media screen and (max-width: 767px) {
  .top_sec .sec07 ul li p:first-child {
    padding: 20px 20px 10px;
  }
}

.top_sec .sec07 ul li h3 {
  font-size: 24px;
  color: #2faabb;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .top_sec .sec07 ul li h3 {
    font-size: 18px;
  }
}

.top_sec .sec07 .flow {
  background: #fff;
  border-radius: 12px;
  padding: 40px 50px;
  -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .top_sec .sec07 .flow {
    padding: 20px;
  }
}

.top_sec .sec07 .flow h3 {
  text-align: center;
  font-size: 24px;
  color: #3b4675;
  margin-bottom: 20px;
}

.top_sec .sec07 .flow img {
  margin: 0 auto;
}

.top_sec .sec08 dt {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: #3b4675;
  border: solid 1px #3b4675;
  border-radius: 15px 15px 0 0;
  padding: 20px 110px 20px 110px;
  margin-top: 45px;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .top_sec .sec08 dt {
    font-size: 16px;
    padding: 20px 40px 20px 60px;
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
  }
}

.top_sec .sec08 dt:after {
  content: '';
  position: absolute;
  right: 30px;
  top: 50%;
  width: 16px;
  height: 16px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: translateY(-30%) rotate(315deg);
          transform: translateY(-30%) rotate(315deg);
}

@media screen and (max-width: 767px) {
  .top_sec .sec08 dt:after {
    right: 15px;
    width: 10px;
    height: 10px;
  }
}

.top_sec .sec08 dt span {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background: #2faabb;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .top_sec .sec08 dt span {
    width: 30px;
    height: 30px;
    left: 15px;
    top: 18px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    line-height: 30px;
    font-size: 20px;
  }
}

.top_sec .sec08 dt.active {
  border-radius: 15px;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

@media screen and (max-width: 767px) {
  .top_sec .sec08 dt.active {
    border-radius: 10px;
  }
}

.top_sec .sec08 dt.active:after {
  -webkit-transform: translateY(-80%) rotate(135deg);
          transform: translateY(-80%) rotate(135deg);
}

.top_sec .sec08 dd {
  font-size: 15px;
  line-height: 2.0;
  background: #fff;
  border: solid 1px #3b4675;
  border-radius: 0 0 15px 15px;
  padding: 20px 60px 40px 110px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .top_sec .sec08 dd {
    padding: 20px 15px 30px 60px;
    font-size: 14px;
    border-radius: 0 0 10px 10px;
  }
}

.top_sec .sec08 dd:before {
  content: 'A';
  position: absolute;
  left: 40px;
  top: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #2faabb;
}

@media screen and (max-width: 767px) {
  .top_sec .sec08 dd:before {
    left: 22px;
    top: 15px;
    font-size: 22px;
  }
}

.top_sec .sec09 {
  border-top: solid 1px #999;
  padding-top: 80px;
  padding-bottom: 40px;
}
/*# sourceMappingURL=style.css.map */