@charset "utf-8";

$breakpoints: (
  'sm': 'screen and (max-width: 479px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=($opacity * 100));
}

@mixin flexbox{
  display:-webkit-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
}

@mixin inline-flexbox{
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:-webkit-inline-flex;
  display:inline-flex;
}

@mixin flex-flow($flow){
  -ms-flex-flow: $flow;
  -webkit-flex-flow: $flow;
  flex-flow: $flow;
}

@mixin flex-align-items($align){
  -ms-align-items: $align;
  -webkit-align-items: $align;
  align-items: $align;
}

@mixin flex-align-content($content){
  -ms-align-content: $content;
  -webkit-align-content: $content;
  align-content: $content;
}

@mixin flex-justyfy-content($justyfy){
  -ms-justify-content: $justyfy;
  -webkit-justify-content: $justyfy;
  justify-content: $justyfy;
}
