@charset "utf-8";
/*2200330*/
#contents{
    width: 100%!important;
    margin-top: 0!important;
    padding-top: 0!important;
}
.pickup-contents-box{
    margin-bottom: 0!important;
}

/*Robotoフォント読込*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');

/*only*/
.pc_only{
    display: block;
    @include mq{
        display: none;
    }
}
.sp_only{
    display: none;
    @include mq{
        display: block;
    }
}

//創業融資・公庫融資の申請代行サポートここから
.top_sec{
    .w1140{
        max-width: 1140px;
        margin: 0 auto;
    }
    section{
        padding: 100px 20px;
        @include mq{
            padding: 50px 15px;
        }
    }
    h2{
        color: #2faabb;
        font-size: 35px;
        line-height: 1.6;
        font-weight: bold;
        margin: 0 0 20px;
        @include mq(lg){
            font-size: 32px;
        }
        @include mq{
            font-size: 26px;
        }
    }
    h3.blue_ttl{
        color: #3b4675;
        font-size: 24px;
        font-weight: bold;
        padding: 0 20px;
        margin-bottom: 50px;
        border-left: solid 5px #3b4675;
        line-height: 1.2;
        position: relative;
        @include mq{
            font-size: 20px;
            padding: 0 10px;
            margin-bottom: 30px;
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            bottom: -16px;
            left: -5px;
            width: calc(100% + 5px);
            height: 1px;
            border-bottom: solid 1px #ccc;
        }
    }
    h2+p,h3.blue_ttl+p{
        margin-bottom: 40px;
        @include mq{
            margin-bottom: 20px;
        }
    }
    p,li,th,td{
        margin: 0;
        font-size: 15px;
        line-height: 2.0;
        color: #333;
        @include mq{
            font-size: 14px;
        }
    }
    img{
        max-width: 100%;
    }
    .col_wrap{
        @include flexbox;
        @include flex-flow(row nowrap);
        @include flex-justyfy-content(center);
        @include flex-align-items(center);
        gap: 40px;
        @include mq{
            @include flex-flow(column wrap);
        }
    }
    .bl_btn{
        display: block;
        text-align: center;
        font-size: 28px;
        letter-spacing: 0.2rem;
        font-weight: bold;
        color: #fff;
        background: #308ec6;
        padding: 40px;
        border-radius: 10px;
        width: 100%;
        max-width: 800px;
        box-shadow: 4px 6px 0px #156798;
        margin: 0 auto;
        transition: all .1s;
        &:hover{
            transform: translate(2px,4px);
            box-shadow: 2px 2px 0px #156798;
        }
        @include mq(lg){
            width: 90%;
        }
        @include mq{
            width: 90%;
            font-size: 20px;
            padding: 30px 20px;
        }
    }
    .rep{
        @include flexbox;
        @include flex-flow(row nowrap);
        @include flex-justyfy-content(center);
        @include flex-align-items(center);
        text-align: left;
        @include mq{
            @include flex-flow(column-reverse nowrap);
        }
        p{
            background: #f4f4f4;
            padding: 20px 30px;
            border-radius: 8px;
            font-size: 20px;
            font-weight: bold;
            border: solid 2px #2faabb;
            margin-left: 70px;
            position: relative;
            @include mq{
                margin-left: 0;
                margin-bottom: 30px;
                padding: 15px;
                font-size: 16px;
            }
            &:before,&:after {
                position: absolute;
                content: '';
                top: 50%;
                transform: translateY(-50%);
                left: -2.5em;
                border-top: 16px solid transparent;
                border-right: 2.5em solid #2faabb;
                border-bottom: 16px solid transparent;
                @include mq{
                    bottom: -1.5em;
                    top: auto;
                    left: 50%;
                    transform: translateY(0%) translateX(-50%);
                    border-bottom: none;
                    border-top: 1.5em solid #2faabb;
                    border-right: 10px solid transparent;
                    border-left: 10px solid transparent;
                }
            }
            &:after	{
                left: calc( -14px - 1.5em );
                border-right: 2.5em solid #f4f4f4;
                @include mq{
                    left: 50%;
                    bottom: calc( 4px - 1.5em );
                    border-right: 10px solid transparent;
                    border-top: solid 1.5em #f4f4f4;
                }
            }
        }
    }
    .contact_wrap{
        background: #fff;
        border: solid 2px #2faabb;
        border-radius: 20px;
        >p{
            text-align: center;
            padding: 6px;
            background: #2faabb;
            border-radius: 15px 15px 0 0;
            color: #fff;
            font-size: 25px;
            font-weight: bold;
            letter-spacing: 0.2rem;
            @include mq{
                padding: 14px;
                font-size: 20px;
                letter-spacing: 0.05rem;
                line-height: 1.2;
            }
            span{
                font-size: 35px;
                color: #f4ed33;
                @include mq{
                    font-size: 24px;
                }
            }
        }
        .soudan{
            width: 62%;
            margin: 0 40px 20px auto;
            padding: 50px 0 20px;
            position: relative;
            @include mq{
                width: 100%;
                margin: 0;
                padding: 20px;
            }
            p:first-child{
                width: fit-content;
                padding: 6px 40px;
                border-radius: 40px;
                background: #fffb9b;
                font-size: 24px;
                font-weight: bold;
                @include mq(lg){
                    font-size: 22px;
                    line-height: 1.5;
                }
                @include mq{
                    padding: 10px 30px;
                    font-size: 20px;
                    line-height: 1.2;
                    text-align: center;
                    margin: 0 auto;
                }
            }
            p:last-child{
                margin-top: 16px;
                font-size: 35px;
                font-weight: bold;
                @include mq(lg){
                    line-height: 1.8;
                }
                @include mq{
                    width: 60%;
                    margin-left: auto;
                    font-size: 24px;
                    line-height: 1.5;
                }
                span{
                    color: #f68936;
                }
                img{
                    position: absolute;
                    bottom: 20px;
                    left: -40px;
                    transform: translateX(-100%);
                    width: 50%;
                    max-width: 190px;
                    @include mq{
                        max-width: 170px;
                    }
                    @include mq{
                        left: 20px;
                        transform: translateX(0);
                        width: 30%;
                    }
                }
            }
        }
        .contact{
            @include flexbox;
            @include flex-flow(row nowrap);
            @include flex-justyfy-content(center);
            @include flex-align-items(center);
            gap: 20px;
            margin: 0 40px 40px;
            @include mq(lg){
                @include flex-flow(column nowrap);
                margin: 0 20px 20px;
            }

            a{
                display: block;
                width: 100%;
                padding: 10px;
                border-radius: 10px;
                text-align: center;
                transition: all .1s;
                &:nth-of-type(1){
                    background: #308ec6;
                    box-shadow: 4px 4px 1px 0 #156798;
                }
                &:nth-of-type(2){
                    background: #f68936;
                    box-shadow: 4px 4px 1px 0 #ea731b;
                }
                &:nth-of-type(3){
                    background: #54c553;
                    box-shadow: 4px 4px 1px 0 #29b329;
                }
                &:hover{
                    transform: translate(2px,4px);
                    &:nth-of-type(1){
                        box-shadow: 2px 2px 1px 0 #156798;
                    }
                    &:nth-of-type(2){
                        box-shadow: 2px 2px 1px 0 #ea731b;
                    }
                    &:nth-of-type(3){
                        box-shadow: 2px 2px 1px 0 #29b329;
                    }
                }
                p{
                    color: #fff;
                    line-height: 1.5;
                    font-size: 15px;
                    @include mq(xl){
                        font-size: 14px;
                    }
                }
                .link_name{
                    @include flexbox;
                    @include flex-flow(row nowrap);
                    @include flex-justyfy-content(center);
                    @include flex-align-items(center);
                    gap: 10px;
                    font-size: 24px;
                    font-weight: bold;
                    @include mq(xl){
                        font-size: 18px;
                    }
                    @include mq{
                        font-size: 20px;
                    }
                    &.tel{
                        font-size: 28px;
                        @include mq(xl){
                            font-size: 20px;
                        }
                        @include mq{
                            font-size: 24px;
                        }
                    }
                }
                img{
                    @include mq{
                        transform: scale(0.8);
                    }
                }
            }
        }
    }

    .fv{
        position: relative;
        background: url('../img/top_fv.jpg') no-repeat center center / cover;
        height: 600px;
        padding: 0;
        @include mq(xl){
            height: 500px;
        }
        @include mq(lg){
            height: 400px;
        }
        @include mq{
            height: auto;
        }
        div{
            display: none;
            @include mq{
                display: block;
            }
        }
    }

    .sec01{
        //background: #daeff2;
        p{
            margin-bottom: 0;
        }
        .col_wrap{
            @include mq(lg){
                gap: 0px;
            }
            @include mq{
                @include flex-flow(column nowrap);
                gap: 20px;
            }
            div:first-child{
                width: 35%;
                @include mq(lg){
                    width: 80%;
                }
                @include mq{
                    width: 100%;
                }
            }
        }
        .text_b{
            font-size: 20px;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 100px;
            @include mq{
                font-size: 16px;
                margin-bottom: 40px;
            }
        }

        .achievement_others{
            margin-top: 60px;
            background: #fff;
            border-radius: 20px;
            padding: 50px;
            box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
            @include mq{
                margin-top: 30px;
                padding: 30px 20px;
            }
            >p span{
                font-size: 20px;
                font-weight: bold;
                color: #2faabb;
                @include mq{
                    font-size: 16px;
                }
            }
            .table_ttl{
                text-align: center;
                background: #3b4675;
                font-size: 24px;
                font-weight: bold;
                color: #fff;
                padding: 10px;
                margin-bottom: 30px;
                @include mq{
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }
            .table_wrap{
                @include flexbox;
                @include flex-flow(row nowrap);
                @include flex-justyfy-content(space-between);
                @include flex-align-items(flex-start);
                gap: 40px;
                @include mq{
                    @include flex-flow(column nowrap);
                    gap: 20px;
                }
                +p{
                    margin-top: 10px;
                    text-align: right;
                }
            }
            table{
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;
                th,td{
                    text-align: center;
                    font-size: 15px;
                    font-weight: normal;
                    padding: 10px;
                    @include mq{
                        padding: 6px;
                        font-size: 12px;
                    }
                }
                th{
                    color: #fff;
                    background: #2faabb;
                }
                td{
                    background: #eaf6f8;
                    border-bottom: solid 1px #bfc8ca;
                }
            }
        }
    }

    .sec02{
        background: #f4f4f4;
        text-align: center;
        @include mq{
            text-align: left;
        }
        img{
            margin: 20px auto;
        }
    }

    .sec03,.sec10{
        .link_wrap{
            @include flexbox;
            @include flex-flow(row wrap);
            @include flex-justyfy-content(center);
            @include flex-align-items(stretch);
            gap: 30px;
            margin-bottom: 60px;
            @include mq(lg){
                gap: 10px;
            }
            a{
                display: table;
                width: calc( (100% - 60px) / 3 );
                text-align: center;
                padding: 100px 20px;
                color: #fff;
                font-weight: bold;
                font-size: 24px;
                line-height: 40px;
                background-size: cover;
                background-position: center center;
                position: relative;
                @include mq(lg){
                    font-size: 20px;
                    width: calc( (100% - 20px) / 3 );
                }
                @include mq{
                    width: 100%;
                    padding: 80px 10px;
                    font-size: 16px;
                    line-height: 1.8;
                }
                &:nth-of-type(2){
                    @include mq{
                        padding: 70px 10px;
                    }
                }
                &:after{
                    content: '';
                    border: 2px solid rgba(255, 255, 255, .5);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    width: calc(100% - 70px);
                    height: calc(100% - 70px);
                    transition: all .3s;
                    @include mq(lg){
                        width: calc(100% - 40px);
                        height: calc(100% - 40px);
                    }
                }
                &:hover{
                    color: #2faabb;
                    &:after{
                        width: 100%;
                        height: 100%;
                    }
                }
                span{
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
        .rep{
            max-width: 1050px;
            margin: 0 auto 80px;
        }
        .check_wrap{
            background: url('../img/top_bg02.jpg') repeat center center / 36px 35px;
            border: solid 1px #aaafc3;
            border-radius: 20px;
            padding: 50px;
            //margin-bottom: 100px;
            @include mq(lg){
                padding: 40px;
            }
            @include mq{
                padding: 30px 20px;
            }
            .check{
                @include flexbox;
                @include flex-flow(row nowrap);
                @include flex-justyfy-content(center);
                @include flex-align-items(flex-start);
                gap: 40px;
                @include mq(lg){
                    gap: 20px;
                }
                @include mq{
                    @include flex-flow(column nowrap);
                    gap: 20px;
                }
                >div{
                    width: 65%;
                    @include mq{
                        width: 100%;
                    }
                }
                >p{
                    width: 35%;
                    @include mq{
                        width: 100%;
                        text-align: center;
                    }
                }
                &:not(:last-child){
                    margin-bottom: 30px;
                }

                h4{
                    font-size: 20px;
                    font-weight: bold;
                    margin: 5px 0 25px;
                    @include mq{
                        font-size: 16px;
                        margin: 5px 0 16px;
                    }
                    &:before{
                        content: '\f058';
                        font-family: 'Font Awesome 5 Free';
                        margin-right: 10px;
                        font-size: 25px;
                        @include mq{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .article_wrap{
            background: #fff;
            border-radius: 20px;
            padding: 40px 70px;
            border: solid 1px #9da2ba;
            @include mq{
                padding: 30px 20px 30px 40px;
            }
            li{
                font-size: 15px;
                color: #3b4675;
                position: relative;
                margin-bottom: 16px;
                &:before{
                    position: absolute;
                    content: "";
                    top: 10px;
                    left: -24px;
                    width: 8px;
                    height: 8px;
                    border-top: 2px solid #2faabb;
                    border-right: 2px solid #2faabb;
                    transform: rotate(45deg);
                    @include mq{
                        left: -18px;
                        width: 6px;
                        height: 6px;
                    }
                }
            }
        }
    }

    .sec04{
        background: #daeff2;
        .achievement{
            background: #fff;
            border-radius: 20px;
            padding: 0 0 20px;
            box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
            margin: 60px 0 0;
            @include mq{
                margin: 30px 0 0;
            }
        }
        .ach_head{
            @include flexbox;
            @include flex-flow(row nowrap);
            @include flex-justyfy-content(flex-start);
            @include flex-align-items(center);
            gap: 30px;
            background: #3b4675;
            border-radius: 20px 20px 0 0;
            padding: 30px 50px;
            color: #fff;
            @include mq{
                gap: 20px;
                padding: 20px;
            }
            .case{
                background: #2faabb;
                width: 90px;
                height: 90px;
                border-radius: 90px;
                text-align: center;
                display: table;
                @include mq{
                    width: 70px;
                    height: 70px;
                }
                span{
                    display: table-cell;
                    vertical-align: middle;
                    color: #fff;
                    font-size: 16px;
                    font-weight: bold;
                    font-family: Roboto;
                    line-height: 1.0;
                    @include mq{
                        font-size: 12px;
                    }
                    &>span{
                        display: block;
                        font-size: 40px;
                        @include mq{
                            font-size: 30px;
                        }
                    }
                }
            }
            h3{
                font-size: 24px;
                font-weight: bold;
                @include mq{
                    font-size: 18px;
                }
            }
            div:last-child p{
                width: fit-content;
                text-align: center;
                padding: 3px 16px;
                margin-bottom: 10px;
                font-size: 16px;
                line-height: 1.5;
                font-weight: bold;
                color: #3b4675;
                background: #fffb9b;
                border-radius: 30px;
                @include mq{
                    font-size: 14px;
                }
            }
        }
        .ach_bottom{
            padding: 30px 50px;
            @include mq{
                padding: 20px;
            }
            .user{
                @include flexbox;
                @include flex-flow(row nowrap);
                @include flex-justyfy-content(space-between);
                @include flex-align-items(flex-start);
                gap: 60px;
                background: #f4f4f4;
                border-radius: 15px;
                padding: 30px;
                margin-bottom: 30px;
                @include mq(lg){
                    gap: 20px;
                }
                @include mq{
                    @include flex-flow(column nowrap);
                    gap: 20px;
                    padding: 20px;
                }
                div{
                    width: 100%;
                    padding-top: 10px;
                    @include mq{
                        padding-top: 0;
                    }
                }
                p:last-child{
                    font-size: 20px;
                    font-weight: bold;
                    margin-top: 30px;
                    @include mq(lg){
                        font-size: 18px;
                        line-height: 1.8;
                    }
                    @include mq{
                        font-size: 16px;
                        line-height: 1.5;
                    }
                }
                img{
                    max-width: 40%;
                    @include mq{
                        max-width: 100%;
                        margin-left: auto;
                    }
                }
            }
            .ttl{
                font-size: 24px;
                font-weight: bold;
                color: #3b4675;
                display: inline;
                background: linear-gradient(transparent 96%, #3b4675 0%);
                @include mq(lg){
                    font-size: 22px;
                    line-height: 1.8;
                }
                @include mq{
                    font-size: 18px;
                    line-height: 1.5;
                }
            }
            .comment{
                @include flexbox;
                @include flex-flow(row nowrap);
                @include flex-justyfy-content(space-between);
                @include flex-align-items(flex-start);
                gap: 60px;
                @include mq(lg){
                    gap: 20px;
                }
                @include mq{
                    @include flex-flow(column nowrap);
                    gap: 0;
                }
                div{
                    width: 100%;
                }
                span{
                    color: #ff0000;
                }
                .point{
                    background: #fffcb1;
                    border-radius: 10px;
                    padding: 20px;
                    margin: 12px 0;
                }
            }
        }
        .achievement:nth-of-type(2n){
            .ach_bottom .user{
                @include flex-flow(row-reverse nowrap);
                @include mq{
                    @include flex-flow(column nowrap);
                }
            }
        }

        .achievement_others{
            background: #fff;
            border-radius: 20px;
            padding: 50px;
            box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
            @include mq{
                padding: 30px 20px;
            }
            >p span{
                font-size: 20px;
                font-weight: bold;
                color: #2faabb;
                @include mq{
                    font-size: 16px;
                }
            }
            .table_ttl{
                text-align: center;
                background: #3b4675;
                font-size: 24px;
                font-weight: bold;
                color: #fff;
                padding: 10px;
                margin-bottom: 30px;
                @include mq{
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }
            .table_wrap{
                @include flexbox;
                @include flex-flow(row nowrap);
                @include flex-justyfy-content(space-between);
                @include flex-align-items(flex-start);
                gap: 40px;
                @include mq{
                    @include flex-flow(column nowrap);
                    gap: 20px;
                }
                +p{
                    margin-top: 10px;
                    text-align: right;
                }
            }
            table{
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;
                th,td{
                    text-align: center;
                    font-size: 15px;
                    font-weight: normal;
                    padding: 10px;
                    @include mq{
                        padding: 6px;
                        font-size: 12px;
                    }
                }
                th{
                    color: #fff;
                    background: #2faabb;
                }
                td{
                    background: #eaf6f8;
                    border-bottom: solid 1px #bfc8ca;
                }
            }
        }
    }

    .sec05{
        background: url('../img/top_bg01.jpg') no-repeat center center / cover;
        counter-reset: number 0;
        .strength{
            background: #fff;
            border: solid 2px #9da2ba;
            border-radius: 20px;
            padding: 50px 50px 40px;
            margin-top: 80px;
            position: relative;
            @include mq{
               padding: 40px 20px 30px;
               margin-top: 50px;
            }
            &:before{
                position: absolute;
                top: 0;
                left: 50px;
                transform: translateY(-50%);
                counter-increment: number 1;
                content: '0'counter(number);
                display: block;
                border-radius: 50%;
                width: 75px;
                height: 75px;
                color: #fff;
                font-size: 40px;
                line-height: 75px;
                font-weight: bold;
                font-family: Roboto;
                text-align: center;
                background: #3b4675;
                @include mq{
                    width: 50px;
                    height: 50px;
                    font-size: 24px;
                    line-height: 50px;
                    left: 20px;
                }
            }
            h3{
                font-size: 24px;
                font-weight: bold;
                color: #3b4675;
                padding-bottom: 10px;
                border-bottom: solid 1px #cbcdda;
                margin-bottom: 20px;
                @include mq{
                    font-size: 18px;
                }
            }
            div{
                @include flexbox;
                @include flex-flow(row nowrap);
                @include flex-justyfy-content(space-between);
                @include flex-align-items(flex-start);
                gap: 60px;
                @include mq(lg){
                    gap: 20px;
                }
                @include mq{
                    @include flex-flow(column nowrap);
                    gap: 20px;
                }
                span{
                    color: #ff0000;
                }
            }
            img{
                max-width: 40%;
                @include mq{
                    max-width: 100%;
                    margin: 0 auto;
                }
            }
        }
    }

    .sec06{
        background: #daeff2;
    }


    .sec07{
        background: #f4f4f4;
        ul{
            @include flexbox;
            @include flex-flow(row wrap);
            @include flex-justyfy-content(center);
            @include flex-align-items(flex-start);
            gap: 50px 30px;
            background: #fff;
            border-radius: 12px;
            padding: 50px;
            box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
            counter-reset: number 0;
            @include mq{
                @include flex-flow(column wrap);
                gap: 30px;
                padding: 25px;
            }
            li{
                width: calc( (100% - 60px) / 3 );
                position: relative;
                @include mq(lg){
                    width: calc( (100% - 30px) / 2 );
                }
                @include mq{
                    width: 100%;
                }
                &:before{
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    border-left: 88px solid #2faabb;
                    border-bottom: 88px solid transparent;
                    @include mq{
                        border-left: 60px solid #2faabb;
                        border-bottom: 60px solid transparent;
                    }
                }
                &:after{
                    position: absolute;
                    top: 4px;
                    left: 16px;
                    counter-increment: number 1;
                    content: counter(number);
                    font-size: 24px;
                    font-weight: bold;
                    color: #fff;
                    @include mq{
                        top: 2px;
                        left: 12px;
                        font-size: 18px;
                    }
                }

                p:first-child{
                    text-align: center;
                    padding: 40px 20px 10px;
                    min-height: 125px;
                    @include mq{
                        padding: 20px 20px 10px;
                    }
                }
                h3{
                    font-size: 24px;
                    color: #2faabb;
                    font-weight: bold;
                    @include mq{
                        font-size: 18px;
                    }
                }
            }
        }
        .flow{
            background: #fff;
            border-radius: 12px;
            padding: 40px 50px;
            box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
            margin-top: 60px;
            @include mq{
                padding: 20px;
            }
            h3{
                text-align: center;
                font-size: 24px;
                color: #3b4675;
                margin-bottom: 20px;
            }
            img{
                margin: 0 auto;
            }
        }
    }

    .sec08{
        dt{
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            background: #3b4675;
            border: solid 1px #3b4675;
            border-radius: 15px 15px 0 0;
            padding: 20px 110px 20px 110px;
            margin-top: 45px;
            position: relative;
            cursor: pointer;
            @include mq{
                font-size: 16px;
                padding: 20px 40px 20px 60px;
                margin-top: 20px;
                border-radius: 10px 10px 0 0;
            }
            &:after{
                content: '';
                position: absolute;
                right: 30px;
                top: 50%;
                width: 16px;
                height: 16px;
                border-top: 3px solid #fff;
                border-right: 3px solid #fff;
                transform: translateY(-30%) rotate(315deg);
                @include mq{
                    right: 15px;
                    width: 10px;
                    height: 10px;
                }
            }
            span{
                display: block;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                position: absolute;
                left: 30px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 30px;
                font-weight: bold;
                color: #fff;
                background: #2faabb;
                border-radius: 50%;
                @include mq{
                    width: 30px;
                    height: 30px;
                    left: 15px;
                    top: 18px;
                    transform: translateY(0);
                    line-height: 30px;
                    font-size: 20px;
                }
            }

            &.active{
                border-radius: 15px;
                transition-delay: 0.4s;
                @include mq{
                    border-radius: 10px;
                }
                &:after{
                    transform: translateY(-80%) rotate(135deg);
                }
            }
        }
        dd{
            font-size: 15px;
            line-height: 2.0;
            background: #fff;
            border: solid 1px #3b4675;
            border-radius: 0 0 15px 15px;
            padding: 20px 60px 40px 110px;
            position: relative;
            @include mq{
                padding: 20px 15px 30px 60px;
                font-size: 14px;
                border-radius: 0 0 10px 10px;
            }
            &:before{
                content: 'A';
                position: absolute;
                left: 40px;
                top: 20px;
                font-size: 30px;
                font-weight: bold;
                color: #2faabb;
                @include mq{
                    left: 22px;
                    top: 15px;
                    font-size: 22px;
                }
            }
        }
    }

    .sec09{
        border-top: solid 1px #999;
        padding-top: 80px;
        padding-bottom: 40px;
    }

    #cta_btn{
        width: 100%;
        background: #fff;
        position: fixed;
        z-index: 999;
        bottom: 0;
        left: 0;
        display: none;
        >div{
            @include flexbox;
            @include flex-flow(row nowrap);
            @include flex-justyfy-content(space-between);
            @include flex-align-items(center);
            width: 100%;
            max-width: 480px;
            margin: 0 auto;
            padding: 8px 5px;
            a{
                padding: 0 3px;
            }
        }
    }
}